/* tone keys colour */
.android .kmw-keyboard-obolo_chwerty_6351 #default-T_GRV {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty_6351 #default-T_CCM {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty_6351 #shift-T_GRV {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty_6351 #shift-T_CCM {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty_6351 #caps-T_GRV {color: #02ff02;}
.android .kmw-keyboard-obolo_chwerty_6351 #caps-T_CCM {color: #02ff02;}
