<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstvoices.keyboards" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <service
            android:name="com.firstvoices.keyboards.SystemKeyboard"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.firstvoices.keyboards.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firstvoices.keyboards.RegionListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.firstvoices.keyboards.KeyboardListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.firstvoices.keyboards.SetupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4efced22a226f98e05442a7e472b377d89fcc294"
            />
    </application>
</manifest>
