/***********************
	Wrapper CSS
***********************/

h2{
	font-size: 22pt;
	font-weight: 400;
	margin: 30px 0px 15px 0px;
	text-align: center;
	color: #BA2034;
}


p img{
	margin-top: 10px !important;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 10px !important;
}

table{
	width: 100% !important;
	margin-bottom: 50px !important;
}


td{
	text-align: left !important;
	vertical-align: middle !important;
	padding: 10px !important;
}

th{
	font-weight: bold !important;
	font-size: 14pt !important;
	padding: 15px 0px 5px 0px !important;
}

.command{
	font-weight: bold !important;
	color: #69B7D3 !important;
}

@media all and (min-width: 10px) and (max-width: 720px){
	#section2 img{
		min-width: 40px;
	}
}

/**
	Removes existing max-width property settings from images in tables.
	They overly shrink the images on the main iOS symbol glossary.
 */
#section2 td img {
	max-width: unset;
}


