@font-face {
	font-family:GeezWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/wookianos.ttf') format('truetype');
}
@font-face {
	font-family:MyanmarWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/Padauk.ttf') format('truetype');
}
/*@font-face {
	font-family:LatinWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/DejaVuSans.ttf') format('truetype');
}*/
@font-face {
	font-family:OriyaWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/utkalm.ttf') format('truetype');
}
@font-face {
	font-family:SinhalaWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/kaputaunicode.ttf') format('truetype');
}
@font-face {
	font-family:TamilWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/aava1.ttf') format('truetype');
}
@font-face {
	font-family:CherokeeWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://s.keyman.com/font/deploy/digohweli_1_7.ttf') format('truetype');
}
@font-face {
    font-family: SindhiWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('https://s.keyman.com/font/deploy/MBKhursheed10.6.ttf')  format("truetype");
}
@font-face {
  font-family: TibetanWeb;
  font-style:  normal;
  font-weight: normal;
  src: url('https://s.keyman.com/font/deploy/CTRC-Uchen.ttf')  format("truetype");
}
@font-face {
    font-family: LaoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('https://s.keyman.com/font/deploy/SAYSETT0.eot'); 
    src: url('https://s.keyman.com/font/deploy/SAYSETT0.eot?#iefix') format('embedded-opentype'), 
    url('https://s.keyman.com/font/deploy/saysettha_web.woff') format('woff'), 
    url('https://s.keyman.com/font/deploy/saysettha_OT.ttf') format('truetype');         
}
@font-face {
    font-family: PashtoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('https://s.keyman.com/font/deploy/LateefRegOT.ttf')  format("truetype");
}

@font-face {
  font-family: "Noto Nastaliq Urdu Draft";
  src: url('https://s.keyman.com/font/deploy/NotoNastaliqUrduDraft.ttf') format("truetype");
}

/* Amharic */
:lang(amh).lang-example {
	font-family: GeezWeb;
}
/* Burmese */
:lang(mya).lang-example {
	font-family: MyanmarWeb;
}
/* Cherokee */
:lang(chr).lang-example {
	font-family: CherokeeWeb;
}
/* Lao */
:lang(lao).lang-example {
	font-family: LaoWeb;
}
/* Malayalam
:lang(mal).lang-example {
	font-family: GeezWeb;
} */

/* Marathi
:lang(mar).lang-example {
	font-family: GeezWeb;
} */
/* Oriya */
:lang(ori).lang-example {
	font-family: OriyaWeb;
}
/* Sindhi */
:lang(snd).lang-example {
	font-family: SindhiWeb;
}
/* Sinhala */
:lang(sin).lang-example {
	font-family: SinhalaWeb;
}

/* Tamil */
:lang(tam).lang-example {
	font-family: TamilWeb;
}
/* Tibetan */
:lang(bod).lang-example {
	font-family: TibetanWeb;
}
/* Tigrigna */
:lang(tir).lang-example {
	font-family: GeezWeb;
}

:lang(egy).language, .hiero{
  font-family:EgyptianWeb !important;
}

.lang2:lang(urd) {
  font-family: "Noto Nastaliq Urdu Draft";
  font-weight: normal;
}

#hiero{
	position: relative;
	top: 2px;
}
