/* example and key images */

.highlightExample {color: blue; font-weight: bold; }
.highlightKeys {color: blue; font-weight: bold;}

.highlightKeys .key-print { display: none }
.highlightKeys img { margin: 0 2px 0 0; background-image: url('keys2.gif'); height: 15px; width: 15px; }
.highlightKeys .key-grp { margin: 0 4px; }
.highlightKeys .key-shift { width: 41px !important; margin-right: 0px !important; background-position: 0 -45px; }
.highlightKeys .key-ctrl { width: 33px !important; margin-right: 0px !important; background-position: -41px -45px; }
.highlightKeys .key-alt { width: 32px !important; margin-right: 0px !important; background-position: -74px -45px; }
.highlightKeys .key-32 { width: 37px !important; }

.key-33 { background-position: -37px 0px; }
.key-34 { background-position: -52px 0px; }
.key-35 { background-position: -67px 0px; }
.key-36 { background-position: -82px 0px; }
.key-37 { background-position: -97px 0px; }
.key-38 { background-position: -112px 0px; }
.key-39 { background-position: -127px 0px; }
.key-40 { background-position: -142px 0px; }
.key-41 { background-position: -157px 0px; }
.key-42 { background-position: -172px 0px; }
.key-43 { background-position: -187px 0px; }
.key-44 { background-position: -202px 0px; }
.key-45 { background-position: -217px 0px; }
.key-46 { background-position: -232px 0px; }
.key-47 { background-position: -247px 0px; }
.key-48 { background-position: -262px 0px; }
.key-49 { background-position: -277px 0px; }
.key-50 { background-position: -292px 0px; }
.key-51 { background-position: -307px 0px; }
.key-52 { background-position: -322px 0px; }
.key-53 { background-position: -337px 0px; }
.key-54 { background-position: -352px 0px; }
.key-55 { background-position: -367px 0px; }
.key-56 { background-position: -382px 0px; }
.key-57 { background-position: -397px 0px; }
.key-58 { background-position: -412px 0px; }
.key-59 { background-position: -427px 0px; }
.key-60 { background-position: -442px 0px; }
.key-61 { background-position: -457px 0px; }
.key-62 { background-position: -472px 0px; }
.key-63 { background-position: -487px 0px; }
.key-64 { background-position: 0px -15px; }
.key-65 { background-position: -15px -15px; }
.key-66 { background-position: -30px -15px; }
.key-67 { background-position: -45px -15px; }
.key-68 { background-position: -60px -15px; }
.key-69 { background-position: -75px -15px; }
.key-70 { background-position: -90px -15px; }
.key-71 { background-position: -105px -15px; }
.key-72 { background-position: -120px -15px; }
.key-73 { background-position: -135px -15px; }
.key-74 { background-position: -150px -15px; }
.key-75 { background-position: -165px -15px; }
.key-76 { background-position: -180px -15px; }
.key-77 { background-position: -195px -15px; }
.key-78 { background-position: -210px -15px; }
.key-79 { background-position: -225px -15px; }
.key-80 { background-position: -240px -15px; }
.key-81 { background-position: -255px -15px; }
.key-82 { background-position: -270px -15px; }
.key-83 { background-position: -285px -15px; }
.key-84 { background-position: -300px -15px; }
.key-85 { background-position: -315px -15px; }
.key-86 { background-position: -330px -15px; }
.key-87 { background-position: -345px -15px; }
.key-88 { background-position: -360px -15px; }
.key-89 { background-position: -375px -15px; }
.key-90 { background-position: -390px -15px; }
.key-91 { background-position: -405px -15px; }
.key-92 { background-position: -420px -15px; }
.key-93 { background-position: -435px -15px; }
.key-94 { background-position: -450px -15px; }
.key-95 { background-position: -465px -15px; }
.key-96 { background-position: 0px -30px; }
.key-97 { background-position: -15px -30px; }
.key-98 { background-position: -30px -30px; }
.key-99 { background-position: -45px -30px; }
.key-100 { background-position: -60px -30px; }
.key-101 { background-position: -75px -30px; }
.key-102 { background-position: -90px -30px; }
.key-103 { background-position: -105px -30px; }
.key-104 { background-position: -120px -30px; }
.key-105 { background-position: -135px -30px; }
.key-106 { background-position: -150px -30px; }
.key-107 { background-position: -165px -30px; }
.key-108 { background-position: -180px -30px; }
.key-109 { background-position: -195px -30px; }
.key-110 { background-position: -210px -30px; }
.key-111 { background-position: -225px -30px; }
.key-112 { background-position: -240px -30px; }
.key-113 { background-position: -255px -30px; }
.key-114 { background-position: -270px -30px; }
.key-115 { background-position: -285px -30px; }
.key-116 { background-position: -300px -30px; }
.key-117 { background-position: -315px -30px; }
.key-118 { background-position: -330px -30px; }
.key-119 { background-position: -345px -30px; }
.key-120 { background-position: -360px -30px; }
.key-121 { background-position: -375px -30px; }
.key-122 { background-position: -390px -30px; }
.key-123 { background-position: -405px -30px; }
.key-124 { background-position: -420px -30px; }
.key-125 { background-position: -435px -30px; }
.key-126 { background-position: -450px -30px; }

.highlightKeys .key-shift2 { width: 30px !important; margin-right: -2px !important; background-position: 0 -45px; }
.highlightKeys .key-ctrl2  { width: 22px !important; margin-right: -2px !important; background-position: -41px -45px; }
.highlightKeys .key-alt2   { width: 20px !important; margin-right: -2px !important; background-position: -74px -45px; }
.highlightKeys .key-pgup   { width: 28px !important; margin-right: -2px !important; background-position: -236px -45px; }
.highlightKeys .key-pgdn   { width: 28px !important; margin-right: -2px !important; background-position: -208px -45px; }
.highlightKeys .key-up     { width: 15px !important; margin-right: -2px !important; background-position: -309px -45px; }
.highlightKeys .key-down   { width: 15px !important; margin-right: -2px !important; background-position: -294px -45px; }
.highlightKeys .key-left   { width: 15px !important; margin-right: -2px !important; background-position: -279px -45px; }
.highlightKeys .key-right  { width: 15px !important; margin-right: -2px !important; background-position: -264px -45px; }
.highlightKeys .key-ins    { width: 20px !important; margin-right: -2px !important; background-position: -147px -45px; }
.highlightKeys .key-del    { width: 20px !important; margin-right: -2px !important; background-position: -167px -45px; }
.highlightKeys .key-home   { width: 32px !important; margin-right: -2px !important; background-position: -324px -45px; }
.highlightKeys .key-end    { width: 21px !important; margin-right: -2px !important; background-position: -187px -45px; }
.highlightKeys .key-enter  { width: 30px !important; margin-right: -2px !important; background-position: -356px -45px; }
.highlightKeys .key-esc    { width: 20px !important; margin-right: -2px !important; background-position: -106px -45px; }
.highlightKeys .key-tab    { width: 21px !important; margin-right: -2px !important; background-position: -126px -45px; }
.highlightKeys .key-caps   { width: 28px !important; margin-right: -2px !important; background-position: -386px -45px; }
.highlightKeys .key-bksp   { width: 29px !important; margin-right: -2px !important; background-position: -414px -45px; }
