/**************************************
 * CSS RESET
 * ***********************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
  padding-left: 10px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

table td{
	padding: 4px;
}

html{
    font-family: 'Cabin', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
}

html p,
html dd,
html li {
  font-family: 'Calibri', sans-serif;
  font-size: 14pt;
}

body {
	line-height: inherit;
}

/**************************************
 * Language Section CSS
 * ***********************************/

@font-face {
	font-family:GeezWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://r.keymanweb.com/20/fonts/wookianos.ttf') format('truetype');
}
@font-face {
	font-family:MyanmarWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://r.keymanweb.com/20/fonts/Padauk.ttf') format('truetype');
}
/*@font-face {
	font-family:LatinWeb;
	font-style:normal;
	font-weight:normal;
	src:url('//r.keymanweb.com/20/fonts/DejaVuSans.ttf') format('truetype');
}*/
@font-face {
	font-family:OriyaWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://r.keymanweb.com/20/fonts/utkalm.ttf') format('truetype');
}
@font-face {
	font-family:SinhalaWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://r.keymanweb.com/20/fonts/kaputaunicode.ttf') format('truetype');
}
@font-face {
	font-family:TamilWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://r.keymanweb.com/20/fonts/aava1.ttf') format('truetype');
}
@font-face {
	font-family:CherokeeWeb;
	font-style:normal;
	font-weight:normal;
	src:url('https://r.keymanweb.com/20/fonts/digohweli_1_7.ttf') format('truetype');
}
@font-face {
    font-family: SindhiWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('https://r.keymanweb.com/20/fonts/MBKhursheed10.6.ttf')  format("truetype");
}
@font-face {
  font-family: TibetanWeb;
  font-style:  normal;
  font-weight: normal;
  src: url('https://r.keymanweb.com/20/fonts/CTRC-Uchen.ttf')  format("truetype");
}
@font-face {
    font-family: LaoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('https://r.keymanweb.com/20/fonts/SAYSETT0.eot'); 
    src: url('https://r.keymanweb.com/20/fonts/SAYSETT0.eot?') format('embedded-opentype'), 
    url('https://r.keymanweb.com/20/fonts/saysettha_web.woff') format('woff'), 
    url('https://r.keymanweb.com/20/fonts/saysettha_OT.ttf') format('truetype');         
}
@font-face {
    font-family: PashtoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('https://r.keymanweb.com/20/fonts/LateefRegOT.ttf')  format("truetype");
}

/* Amharic */
:lang(amh).lang-example {
	font-family: GeezWeb;
}
/* Burmese */
:lang(mya).lang-example {
	font-family: MyanmarWeb;
}
/* Cherokee */
:lang(chr).lang-example {
	font-family: CherokeeWeb;
}
/* Lao */
:lang(lao).lang-example {
	font-family: LaoWeb;
}
/* Malayalam
:lang(mal).lang-example {
	font-family: GeezWeb;
} */

/* Marathi
:lang(mar).lang-example {
	font-family: GeezWeb;
} */
/* Oriya */
:lang(ori).lang-example {
	font-family: OriyaWeb;
}
/* Rawang */
:lang(raw).lang-example {
	font-family: MyanmarWeb;
}
/* Sindhi */
:lang(snd).lang-example {
	font-family: SindhiWeb;
}
/* Sinhala */
:lang(sin).lang-example {
	font-family: SinhalaWeb;
}

/* Tamil */
:lang(tam).lang-example {
	font-family: TamilWeb;
}
/* Tibetan */
:lang(bod).lang-example {
	font-family: TibetanWeb;
}
/* Tigrigna */
:lang(tir).lang-example {
	font-family: GeezWeb;
}

/**************************************
 * Page Layout CSS
 * ***********************************/

html{
    cursor: default;
    background: #fff;
}

.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#section2 .wrapper {
    width: initial;
    overflow-x: auto; /* fixes content too wide leading to content dropping below index, but not ideal, temp fix better than previous */
    max-width: 960px;
    margin-left: 220px;
    margin-right: 220px;
}

:not(div.interface-hierarchy) blockquote {
  margin-left: 32px;
  margin-bottom: 16px;
  background: rgba(242,242,242,0.9);
  padding: 4px;
  border-radius: 4px;
}

div.interface-hierarchy {
  padding: 0px 10px 10px 10px;
  line-height: 1.2em;
  font-size: 14pt;
}

div.interface-hierarchy blockquote {
  padding-left: 20px;
}

.no-toc #section2 .wrapper {
  margin-right: auto;
}

.no-index #section2 .wrapper {
  margin-left: auto;
}

@media only screen and (min-width: 1440px) {
  #section2 .wrapper {
    width: 960px;
  }
  body #section2 {
    float: none;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #section2 .wrapper {
    margin-right: 20px;
  }
}

.menu-wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.button{
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #3e3e3e;
}

.button a{
    text-decoration: none;
}

.button h2{
    color: #fff;
}

#container{
	min-height: 100%;
	width: 100%;
}

.main{
	float: left;
	width: 100%;
}

.valign-outer{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: table;
	position: static;
}

.valign-middle{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: static;
}

.center{
	text-align: center;
}

.command{
	font-weight: 400;
	color: #69B7D2;
}

.inline{
	text-align: center;
}

.red{
	color: #B92034;
}

.underline{
	border-bottom: 1px solid #B92034;
	margin-bottom: 15px;
	padding-bottom: 0px !important;
}

.caption{
	text-align: center;
	font-size: 11pt;
	font-weight: 600;
	margin-top: -15px;
	padding: 0px 10px;
}

.people-text{
	font-size: 12pt !important;
}

.testimonial{
	display: block;
	margin: 20px;
	background: #fff;
	border-radius: 14px;
	padding: 30px 20px;
	box-shadow: 1px 1px 4px #000;
	font-style: italic;
	color: #6e6e6e;
}

.caption a{
	text-decoration: underline;
	color: #B92034;
}

.contact-social{
	position: relative;
	top: 12px;
}

/**********************************
 * HEADER CSS
 *********************************/

.header{
    float: left;
    width: 100%;
    background: #f2f2f2;
    display: block;
    z-index: 5;
}

#show-phone-menu{
	display: none;
}

#logo{
    margin-left: 30px;
    float: left;
}

#no-menu-spacer{
	float: left;
	width: 100%;
	height: 20px;
	display: block;
}

#header-bottom{
    width: 100%;
    height: 8px;
    display: block;
}

#help{
	width: 160px;
	position: absolute;
	top: 35px;
	left: 100%;
	margin-left: -160px;
	text-decoration: none;
}

#help p{
	float: left;
	font-size: 14pt;
	color: #000;
	vertical-align: top;
	text-decoration: underline;
}

#help img{
	float: left;
	margin-left: 10px;
}

#breadcrumbTrail{
	float: left;
	margin: 10px 10px 20px 40px;
	background: #f2f2f2;
	padding: 10px;
	border-radius: 4px;
	font-size: 10pt;
}

#breadcrumbTrail a{
	color: #B92034;
}

/**************************************
 * TOP MENU 1 CSS
 * ***********************************/

#top-menu1{
	float: left;
	width: 100%;
	height: 50px;
	background: #f2f2f2;
	position: absolute;
	z-index: 2;
	top: 66px;
	padding-top: 12px;
}

#top-menu-bg{
	position:relative;
	top:-8px;
	width:100%;
	padding-top: 12px;
	height:50px;
	float: left;
	background:white;
}

#top-menu1.faded-menu {
	position: fixed;
	top: 0;
	background: rgba(242,242,242,0.9); 
}

#top-menu-icon{
	float: left;
	position: absolute;
	top: 13px;
	left: 30px;
	display: none;
}

#top-menu-icon2{
	float: left;
	position: absolute;
	top: 25px;
	left: 100%;
	margin-left: -57px;
	display: none;
}

#top-menu1 .menu-item{
	float: left;
	width: 240px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	overflow-y: visible;
}

#top-menu1 .menu-item:hover, #top-menu1 .menu-item img:hover, #top-menu1 .menu-item h3:hover, #top-menu1 .menu-item h3:hover a{
	color: #B92034;
}

#top-menu1 .menu-item:nth-child(odd):hover{
	background: #f2f2f2;
	box-shadow: 1px 1px 4px #000;
	position: relative;
	z-index: 2;
}

#top-menu1 .menu-item:hover .menu-item-dropdown{
	display: block !important;
}

#top-menu1 .menu-item:hover .header-triangle img{
	background: url('triangle.png') 17px 0;
}

#top-menu1 .menu-item a{
	color: #000;
	text-decoration: none;
}

#top-menu1 .menu-item h3 a:hover{
	color: #B92034;
}

#top-menu1 .menu-item h3{
	font-weight: 600;
	color: #000;
}

.header-triangle img{
	margin-left: 5px;
	height: 9px;
	width: 17px;
	background: url('triangle.png') 0 0;
}

#top-menu1 .menu-item .menu-item-sub{
	float: right;
}

#top-menu-bottom{
    width: 100%;
    height: 8px;
    display: block;
}

.menu-item-dropdown{
	width: 240px;
	position: relative;
	left: -5px;
	z-index: 3;
	display: none;
	text-align: left;
	padding: 0px 5px 5px 5px;
	overflow: hidden;
}

.menu-dropdown-inner{
	width: 240px;
	background: #f2f2f2;
	margin-bottom: 10px;
	padding-bottom: 10px;
	box-shadow: 1px 1px 4px #000;
}

.menu-item-dropdown h4{
	color: #000;
	border-bottom: 1px solid #000;
	margin: 0px 10px;
	padding-top: 10px;
	font-weight: 600;
	line-height: 1.5em;
}

.menu-item-dropdown h4:first-child{
	border-top: none;
}

.menu-item-dropdown form{
	width: 100%;
	height: 30px;
	padding: 10px 0px;
}

#language-search{
	float: left;
	width: 139px;
	height: 28px;
	border-radius: 0px;
	border: solid 1px gray;
	margin-left: 10px;
	padding-left: 10px;
}

#search-submit{
	float: left;
	position: relative;
	left: -1px;
}

.menu-item-dropdown ul{
	padding-top: 10px;
}

.menu-item-dropdown ul li{
	padding: 0px;
	text-align: left;
	line-height: 1.8em;
	width: 220px;
	margin: 0px 10px;
}

.menu-item-dropdown ul li a{
	color: #B92034 !important;
	font-weight: 500;
	font-size: 11pt;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0px 10px;
}

.menu-item-dropdown ul li:hover a{
	text-decoration: underline !important;
}

.menu-item-dropdown ul li:hover{
	background: #e2e2e2;
}

.beta{
	display: inline-block;
	font-size:8pt;
	color:#000;
	position:relative;
	top:-6px;left:3px
}

#phone-menu{
	display: none;
}

#phone-header-spacer{
	display: none;
}

/* Search Box */

.search-wrap {
  right: 0;
  top: 0;
  position: absolute;
  margin: 21px 32px 21px 21px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-appearance: textfield;
}

.search-wrap input {
  width: 22px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 4px 22px 4px 4px;
  background-color: #6D6C6F;
  border-radius: 6px;
  border: none;
  background-image: url('search-icon.png');
  background-repeat: no-repeat;
  background-position: right 4px; 
  color: white;
}
.search-wrap input:focus {
  width: 200px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.search-wrap .offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/**********************************
 * FOOTER CSS
 *********************************/

.footer{
    float: left;
    width: 100%;
    text-align: center;
    background: #A4A8AB;
}

.footer .wrapper {
  width: auto;
  display: inline-block;
  margin: 0;
  text-align: left;
}

.footer-third{
    float: left;
    width: 320px;
    margin-left: 4px;
    margin-right: 4px;
}

.footer-third-title{
    margin-top: 30px;
    text-align: center;
    font-size: 18pt;
    color: #fff;
    margin-bottom: 25px;
}

.footer-third form{
    width: 320px;
}

.footer-third form input{
	-webkit-appearance: none;
	padding: 0px;
    float: left;
    height: 38px;
    width: 200px;
    padding-left: 10px;
    font-size: 14pt;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
}

.footer-third form input:focus{
    outline: 0;
}

.subscribe{
    width: 90px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #666666;
    box-shadow: none;
}

.subscribe h2{
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

.subscribe:hover{
    background: #888888;
}

#footer-mailchimp br {
  clear: both;
}

/*
 social-logos font from https://github.com/Automattic/social-logos, GPLv2
 */
@font-face {
  font-family: "social-logos";
  src: url("social-logos.ttf");
  font-weight: normal;
  font-style: normal; 
}

[data-icon]:before {
  font-family: "social-logos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  speak: none;
  padding-right: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#footer-social {
  text-align: center;
}

#footer-social a {
  display: block;
  text-decoration: none;
  color: #666666;
  font-size: 14pt;
  padding: 4px;
}

#footer-social a:hover {
  color: #444444;
}

#privacy-policy {
  text-align: center;
  margin-top: 32px;
  display: block;
}

#privacy-policy a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 12pt;
}

#privacy-policy a:hover {
  color: #444444;
}

#footer-social div {
  display: inline-block;
  text-align: left;
  margin-bottom: 24px;
}

#footer-social a#footer-community {
  padding-left: 27px;
}

.sil-logo a, .sil-logo a:visited {
  color: white;
  text-decoration: none;
}

.sil-logo a:hover {
  color: white;
  text-decoration: underline;
}

.sil-logo{
  text-align: center;
  margin-top: 20px;
}

.sil-logo p{
    color: #fff;
    font-size: 12pt;
    margin-top: 10px;
}

/**********************************
 * SECTION 2 CSS
 *********************************/

#section2{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	display: inline;
}

#section2 h1{
	text-align: center;
	font-size: 28pt;
	padding: 40px 10px 10px 10px;
}

#section2 h2{
	font-size: 20pt;
	line-height: 1.2em;
	padding: 32px 10px 10px 10px;
}

#section2 h3{
	font-size: 16pt;
	font-weight: 600;
	padding: 16px 10px 10px 10px;
}

#section2 h4{
  font-size: 14pt;
  font-weight: 600;
  padding: 4px 10px 4px 10px;
}

#section2 p, #section2 dl, #section2 .itemizedlist {
	padding: 0px 10px 10px 10px;
	line-height: 1.2em;
	font-size: 14pt;
}

#section2 p a{
	color: #B92034;
	text-decoration: underline;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.2em;
}

#section2 li{
	margin-left: 30px;
	list-style: disc;
	list-style-position: outside;
	line-height: 1.2em;
  font-size: 14pt;
}

#section2 p.context-main-image {
  text-align: center;
  margin-left: -12px;
}

#section2 p.context-main-image img,
#section2 img.context-main-image {
  box-shadow: 0px 4px 12px rgba(0,0,0,0.75);
  border-radius: 4px;
}

/*#section2 img{
	margin: 10px;
}*/

#section2 img.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#section2 img.inline {
  margin: 0;
}

#section2 .itemizedlist li{
	list-style-position: outside;
}

#section2 li {
  margin-bottom: 12px;
}

/* TODO: deprecate this since prismjs handles it. This also conflicts with the line-numbers plugin */
#section2 pre[class*="language-"] {
  margin-left: 9px;
  margin-right: 9px;
  padding: 9px;
  line-height: 1.2;
}

#section2 pre[class*="language-"] code[class*="language-"] {
  line-height: 1.2;
}

.product{
	margin-bottom: 10px;
	margin-top: 20px;
	background: #e3e3e3;
	text-align: center;
	max-height: 340px;
}

.product a{
	display: inline-block;
}

.product p{
	text-align: left;
	font-size: 12pt !important;
	height: 130px;
}

#engine-support-list{
	margin-bottom: 20px;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

#keyboard-support-list{
	margin-bottom: 20px;
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;
}

#product-support-list{
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	text-align: center;
}

#version-history{
	text-align: center;
}

#keyboard-support-list li, #product-support-list li, #engine-support-list li, #version-history li{
	list-style: none !important;
}

#keyboard-support-list li a, #product-support-list li a, #engine-support-list li a, #version-history li a{
	color: #B92034;
	text-decoration: underline;
}

kbd {
    background: none repeat scroll 0 0 #CCCCD0;
    border: 1px solid #808080;
    border-radius: 4px;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin: 0 1px;
    padding: 0px 0px 0px;
    min-width: 1.5em;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
}

/* Make the <kbd> element look like an iOS key. */
kbd.ios {
    background-color: #fafafa; /* faaa fa fa fa fa faaaa far better... */
    border: 0;
    box-shadow: /* Hard shadow */     0 1px rgba(0,0,0,0.4),
                /* Diffuse shadow */  0 1px 4px rgba(0,0,0,0.2),
                /* Highlight */ inset 0 1px white;
    border-radius: 4px;
    font-weight: 500;
}

#section2 aside {
  margin: 12px;
  background: #e3e5e6;
  border-radius: 6px;
  padding: 1px 0;
}

#section2 aside h2,
#section2 aside h3 {
  padding-top: 8px;
}

.list-of-tables {
    display: none;
}

.bold{
	font-weight: bold;
}

.programlisting{
	font-family: -moz-fixed;
	font-family: "Courier New", Courier, monospace;
	background: #f2f2f2;
	padding: 5px;
	line-height: 1.3;
	margin: 10px;
	overflow-x: auto;
}

.navheader, .navfooter{
	width: auto;
	margin: 0px 10px;
}

ol li a{
	color: #B92034;
}

.tip{
	background: #f2f2f2;
	border-radius: 6px;
	padding: 20px;
	margin: 10px 30px;
}

.tip .title{
	margin-top: 0px !important;
}

.informaltable table{
	background: #f2f2f2;
	margin: 10px;
}

.informaltable td, .informaltable th{
	border: 1px solid gray;
	padding: 5px;
}

.note{
	border: 1px solid #F3E5DE;
}

.note .title{
	margin-top: 0px !important;
	padding-top: 5px;
	background-color: #F3E5DE;
}

.display{
	background: #f2f2f2;
}

.display td, .display th{
	border: solid 1px gray;
	padding: 5px;
}

.display th{
	font-weight: bold;
}

table.display {
  margin-bottom: 12px;
}

table.platform {
  margin-left: 10px;
  margin-bottom: 12px;
}

.platform th {
  background: #f2f2f2;
  font-weight: bold;
}

.platform td, .platform th {
  border: solid 1px gray;
  padding: 5px;
  text-align: center;
}

#osk,
#osk-phone,
#osk-tablet{
	position: relative;
	z-index: -2;
}

#osk .kmw-osk-inner-frame{
	height: 320px !important;
	font-size: 2em !important;
  padding: 4px 0 4px 4px;
}

#osk-phone .kmw-osk-inner-frame{
  padding-top: 6px !important;
	height: 256px !important;
  width: 528px !important;
	font-size: 1.5em !important;
}

#osk-tablet .kmw-osk-inner-frame{
  padding-top: 6px !important;
	width: 726px !important;
  height: 372px !important;
	font-size: 1.5em !important;
}

#osk-container,
#osk-phone-container,
#osk-tablet-container {
  display: none;
}

body[data-device='Windows'] #osk-container,
body[data-device='Windows'] #osk-phone-container,
body[data-device='Windows'] #osk-tablet-container { 
  display: block; 
}

body[data-device='iPhone'] #osk-phone-container,
body[data-device='Android'] #osk-phone-container { 
  display: block; 
}

body[data-device='iPad'] #osk-tablet-container,
body[data-device='Android'] #osk-tablet-container { 
  display: block; 
}

body[data-device='Unknown'] #osk-container,
body[data-device='Unknown'] #osk-phone-container,
body[data-device='Unknown'] #osk-tablet-container { 
  display: block; 
}

/**********************************
 * PHONE MENU CSS
 *********************************/

#show-phone-menu{
	display: none;
	float: left;
	margin: 10px;
	position: relative;
	z-index: 6;
}
#phone-menu{
	position: fixed;
	top: 49px;
	left: 0px;
	z-index: 6;
	width: 80%;
	height: 100%;
}
#phone-menu-inner{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 40%;
	-webkit-overflow-scrolling:touch;
	border-right: solid 4px #C1C1C1;
	background: #fff;
}
.phone-menu-item{
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	background: #f2f2f2;
}
.phone-menu-item:last-child{
	margin-bottom: 60px;
}
.phone-menu-item h3{
	font-size: 14pt;
	font-weight: bold;
	margin: 0px 10px;
	border-bottom: solid 1px #000;
}
.phone-menu-item form{
	margin-top: 10px;
}
#language-search2{
	float: left;
	width: 144px;
	height: 30px;
	margin-left: 10px;
	border-radius: 0px;
	border: solid 1px gray;
	padding: 0px;
	padding-left: 10px;
	font-size: 12pt;
}
#search-submit2{
	float: left;
	position: relative;
	left: -1px;
	border-radius: 0px;
}
.phone-menu-item ul{
	padding: 10px;
}
.phone-menu-item ul li{
	line-height: 1.8em;
}
.phone-menu-item ul li a{
	text-decoration: underline;
	color: #B92034;
}
#show-phone-menu-spacer{
	display: none;
	float: left;
}

/**************************************
 * JIRA FEEDBACK CSS
 * ***********************************/

#jira-feedback{
	width: 300px;
	height: 320px;
	padding: 9px;
	background: #f2f2f2;
	position: fixed;
	top: 100%;
	left: 100%;
	margin-left: -340px;
	border-top-left-radius: 6px;
	border: solid 1px #000;
  z-index: 4;
}

#jira-feedback.selected{
	margin-top: -339px;
}

#jira-feedback-tab{
	float: right;
	position: relative;
	top: -50px;
	right: -10px;
	z-index: 4;
	background: #69B7D2;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	width: 70px;
	margin-left: 210px;
	cursor: pointer;
	border-top: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
}

#jira-feedback-tab h4{
	color: #fff;
}

#jira-feedback-form{
	position: relative;
	top: -30px;
}

#jira-feedback input, #jira-feedback textarea, #jira-feedback select{
	width: 288px;
	border: solid 1px #000;
	padding: 4px 5px;
	margin: 5px 0px 10px 0px;
}

#jira-feedback textarea{
	height: 100px;
}

#jira-feedback select{
	width: 298px;
}

#jira-submit{
	float: right;
	width: 140px;
	height: 40px;
	border-radius: 6px;
	border: solid 3px #fff;
	margin: 10px 0px;
	cursor: pointer;
	background: #91db51; /* Old browsers */
	background: -moz-linear-gradient(top,  #69B7D2 0%, #5A9EB5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69B7D2), color-stop(100%,#5A9EB5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #69B7D2 0%,#5A9EB5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #69B7D2 0%,#5A9EB5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69B7D2 0%,#5A9EB5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #69B7D2 0%,#5A9EB5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69B7D2', endColorstr='#5A9EB5',GradientType=0 ); /* IE6-9 */
}

#jira-submit input{
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
  width: auto;
  background: none;
  border: none;
  cursor: pointer;
}

#jira-submit:hover{
	background: #91db51; /* Old browsers */
	background: -moz-linear-gradient(top,  #5A9EB5 0%, #477C8E 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A9EB5), color-stop(100%,#477C8E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5A9EB5 0%,#477C8E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5A9EB5 0%,#477C8E 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5A9EB5 0%,#477C8E 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5A9EB5 0%,#477C8E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A9EB5', endColorstr='#477C8E',GradientType=0 ); /* IE6-9 */
}

#jira-feedback form{
	width: 300px;
}

#jira-feedback p{
	float: left;
	width: 300px;
	text-align: left;
	font-size: 12pt !important;
	position: relative;
	top: -30px;
}

#jira-feedback p#jira-title {
  top: -40px;
}

/**************************************
 * TABLET CSS
 * ***********************************/

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.wrapper, #section2 .wrapper{
		width: 740px;
    margin-left: auto;
    margin-right: auto;
	}
	/* Header */
	.header{
		position: fixed;
	}
	#top-menu1 .menu-item{
		width: 148px;
	}
	#top-menu1 .menu-item h3{
		font-size: 10pt;
	}
	#logo{
		margin-bottom: 15px;
	}
	#phone-header-spacer{
		display: block;
		height: 80px;
	}
	/* Footer */
  .footer {
    height: auto;
  }
	.footer-third{
    float: none;
    clear: both;
		width: 370px;
    margin: 20px 0px 0px 0px;
	}
	/* Section 1 */
	#sect1-title h1{
		font-size: 36pt;
	}
	#sect1-image img{
		max-width: 90%;
	}
	/* Phone Menu */
	#top-menu1{
		display: none;
	}
	#top-menu-bg{
		display: none;
	}
	#show-phone-menu{
		display: block;
		margin-top: 28px;
	}
	#phone-menu{
		top: 81px;
		width: 40%;
	}
	#osk .kmw-osk-inner-frame{
		height: 280px;
		font-size: 1.8em !important;
	}
	#jira-feedback{
		display: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	#sect1-title h1{
		text-align: center;
		font-size: 28pt;
	}
}

/* 7 inch */
@media all and (min-width: 600px) and (max-width: 768px){
	.wrapper, #section2 .wrapper{
		width: 580px;
    margin-left: auto;
    margin-right: auto;
	}
	/* Header */
	#top-menu-bg{
		display: none;
	}
	#top-menu1 .menu-item{
		width: auto;
    padding: 0 16px;
	}
	#top-menu1 .menu-item h3{
		font-size: 8pt;
	}
	/* Footer */
	.footer-third{
		width: 290px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.footer-third form{
		width: 290px;
	}
	.footer-third form input{
		width: 170px;
	}
	#facebook{
		margin-left: 20px;
	}
	/* Section 1 */
	#sect1-title h1{
		font-size: 28pt;
		text-align: center;
	}
	#sect1-image img{
		max-width: 90%;
	}
	/* Phone Menu */
	#show-phone-menu{
		display: block;
	}
	#osk .kmw-osk-inner-frame{
		height: 220px;
		font-size: 1.5em !important;
	}
	#jira-feedback{
		display: none;
	}
}




/**************************************
 * PHONE CSS
 * ***********************************/

@media all and (min-width: 10px) and (max-width: 600px){
	.wrapper, #section2 .wrapper{
		width: 320px;
    margin-left: auto;
    margin-right: auto;
	}
	/* Header */
	#top-menu-bg{
		display: none;
	}
	.header{
		position: fixed;
	}
	#top-menu1{
		display: none;
	}
	#help{
		display: none;
	}
	.header{
		height: 49px !important;
	}
	#logo{
		margin-top: 3px;
		width: 185px;
		position: fixed;
		left: 50%;
		margin-left: -92px;
	}
	#phone-header-spacer{
		display: block;
		height: 57px;
	}
	/* Footer */
	.footer{
		height: auto;
	}
	.footer-third{
		margin-left: 0px;
		margin-right: 0px;
		height: auto;
	}
	.sil-logo{
		float: left;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	/* Section 1 */
	.section1{
		height: auto;
		background-size: auto 100%;
	}
	#sect1-image{
		width: 100%;
		height: auto;
	}
	#sect1-image img{
		max-width: 80%;
		height: auto;
		padding-bottom: 10px;
	}
	#sect1-title{
		width: 100%;
		height: auto;
	}
	#sect1-title h1{
		font-size: 24pt;
		text-align: center;
		padding: 20px 10px 0px 10px;
	}
	#sect1-title a{
		display: none;
	}
	/* Phone Menu */
	#show-phone-menu{
		display: block;
	}
	#show-phone-menu-spacer{
		display: block;
		width: 40px;
		height: 29px;
	}
	/* Section 2 */
	#section2 img{
		max-width: 80%;
	}
	#section2 h2{
		margin: 10px 10px 15px 10px;
		text-align: center;
	}
	#keyboard-support-list{
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		margin-bottom: 20px;
	}
	#product-support-list {
		padding: 0px 30px;
		font-size: 14pt;
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		margin-bottom: 20px;
	}
	#osk .kmw-osk-inner-frame{
		height: 140px;
		font-size: 1em !important;
	}
	#keymanExample{
		overflow-x: scroll;
		overflow-y: hidden;
		height: 100px;
	}
	#keymanExample table{
		width: 1000px;
	}
	#jira-feedback{
		display: none;
	}
}

#KeymanWebControl{
	display: none;
}

/* Landscape mode */
@media all and (min-width: 480px) and (max-width: 600px) and (orientation: landscape){
	.wrapper, #section2 .wrapper{
		width: 460px;
    margin-left: auto;
    margin-right: auto;
	}
	/* Header */
	/* Footer */
	.footer-third{
		margin-left: 70px;
		margin-right: 70px;
	}
	.sil-logo{
		margin-left: 70px;
	}
	/* Section 1 */
}

/**************************************
 * WEB DEVELOPER HELP CSS
 * ***********************************/

div.webhelp {
  clear: both;
}

div.webhelp h3 {
  margin: 16px 0 0 0;
  padding: 0;
}

div.webhelp h4 {
  margin: 0 0 16px 0;
  padding:0; 
}
img.webhelp, div.webhelp img {margin:16px 0 !important;border: 1px solid grey;}


code {
  font-family: Consolas, Courier, "Courier New", mono;
  font-size: 10.5pt;
}

strong, b {
  font-weight: bold;
}

i, cite, em, var, address, dfn {
font-style: italic;
}

dt {
  margin-top: 16px;
}

dt:first-child {
  margin-top: 0;
}

dd {
  margin-left: 32pt;
}

table.standard-table td, 
table.standard-table th {
  border: solid #e0e0dc;
  border-width: 0 1px 1px 0;
  padding: 6px;
  text-align: left;
}
table.standard-table th {
  border: 2px solid #fff;
  border-bottom: 2px solid #d4dde4;
  background: #eaeff2;
  background: rgba(212,221,228,.5);
  font-family: 'Open Sans Light',sans-serif;
  font-size: 14px;
  padding: 2px 8px 4px;
  font-weight: 700;
}

table.standard-table td {
  background-color: #f9fafb;
  background-color: rgba(212,221,228,.15);
  border: 2px solid #fff;
  box-shadow: inset 0 -1px 0 0 #eaeff2;
  box-shadow: inset 0 -1px 0 0 rgba(212,221,228,.5);
}

article dl dt span.readonly {
  background-color: #666769;
  font-size: 13px;
  color: white;
  padding: 1px 6px 3px;
  border-radius: 6px;
}

article dl dd span.optional {
	background-color: #9c9c9c;
	font-size: 13px;
	font-style: italic;
	font-weight: lighter;
	color: white;
	padding: 1px 6px 3px;
	border-radius: 6px;
}

/**
  Table of contents -- developer section only
*/

.column-right {
  display: none;
  float: right;
}

.column-left {
  display: none;
  float: left;
}

.column-left.show-index {
  display: block;
}

.column-right.show-toc {
  display: block;
}

/* TOC on narrow displays should be shown at top */

@media all and (max-width: 1279px){
  .column-right {
    display: none !important;
    float: none;
  }
  #toc.fixed {
    position: static !important;
  }
}

@media all and (max-width: 1023px){
  .column-left {
    display: none !important;
    float: none;
  }
}

#toc.fixed {
  position: fixed;
  top: 130px;
}

#toc {
  top: 0px;
  margin-right: 10px;
  width: 200px;
  background: rgba(242,242,242,0.9);
  overflow: auto;
  border-radius: 4px;
}

#index {
  margin-left: 10px;
  width: 200px;
  overflow: auto;
}

#section2 #toc h3 {
  padding: 8px 12px;
  margin-top: 0px;
  color: black;
}

#section2 h3, #section2 h2 {
    color: #B92034;
    margin-top: 10px;
}

#section2 a {
    color: #B92034;
}

#section2 #toc a {
  color: black;
}

#toc ul,
#index ul {
  margin: 0;
  padding: 0 0 8px 0;
  list-style: none;
}

#toc li,
#index li {
  font-family: 'Calibri', sans-serif;
  font-size: 11pt;
  list-style: none;
  margin-bottom: 2px;
  margin-left: 12px;
}

#toc a,
#toc a:visited,
#index a,
#index a:visited {
    color: black;
    text-decoration: none;
    display: block;
}

#toc a:hover,
#index a:hover {
  background: rgba(224,224,224,0.9);
}

#index .current {
  background: rgba(242,242,242,0.9);
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-h4 {
    padding-left: 30px;
}

#toc .toc-active a {
    color: #69B7D2;
}
