1 VERSIONINFO
  FILEVERSION		8,0,329,0
  PRODUCTVERSION	8,0,329,0
  FILEFLAGSMASK		0x3fL
  FILEFLAGS		0x0L
  FILEOS		0x4L
  FILETYPE		0x1L
  FILESUBTYPE		0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "0C0904E4"
      BEGIN
        VALUE "CompanyName", "SIL International\0"
        VALUE "FileDescription", "CHARIDENT\0"
        VALUE "FileVersion", "8.0.329.0\0"
        VALUE "InternalName", "CHARIDENT\0"
        VALUE "LegalCopyright", "© SIL International\0"
        VALUE "LegalTrademarks", "\0"
        VALUE "OriginalFilename", "CHARIDENT.EXE\0"
        VALUE "ProductName", "SIL International Keyman Support Tools\0"
        VALUE "ProductVersion", "8.0.329.0\0"
        VALUE "Comments", "\0"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0xc09, 1252
    END
  END
