BODY
{
  color: black; background-color: white;
  text-align: left; /* was justify */
  margin: 0px 0px 0px 0px;
  font: normal x-small Verdana, sans-serif;
}

B
{
  font-weight: bold;
}

A
{
  color: #9C2700;
  text-decoration: none;
}
  A:visited
  {
    /* color: #501000; */
  }
  A:hover
  {
    text-decoration: underline;
  }

P.PageTitle
{
  font: normal 18pt Verdana, sans-serif;
  color: white; background-color: #AC472C;
  text-align: left;
  padding-top: 4px;
  height: 42px;
}

P.HowtoTitle
{
  font: bold x-small Verdana, sans-serif;
}

P.HowtoTitle A
{
  font: normal x-small Verdana, sans-serif;
}

P.HowtoLastItem
{                   
    border-top: 1px solid #AC472C;
    margin-left: 1.5em;
}

  
DIV.Body
{
  margin-left: 2em;
  margin-right: 2em;
}
  DIV.Body P.SectionTitle
  {
    text-align: left;
    font: bold small Verdana, sans-serif;
    padding-left: 0.1em;
    padding-top: 1em;
    padding-bottom: 1px;
    border-bottom: 2px solid #AC472C;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  DIV.Body P.Heading
  {
    text-align: left;
    font: bold x-small Verdana, sans-serif;
    border-top: 1px solid #AC472C;
  }
  DIV.Body P.RelatedTopics
  {
    margin-top: 3em;
    text-align: left;
    font: normal xx-small Verdana, sans-serif;
  }
  DIV.Body P.Image
  {
    text-align: center;
    font-size: xx-small;
  }

DIV.Section
{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

DIV.Body TABLE
{
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}
  DIV.Body TABLE TR
  {
    padding-bottom: 3px;
  }
  DIV.Body TABLE TH
  {
    text-align: left;
    font: bold x-small Verdana, sans-serif;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
  }
  DIV.Body TABLE TD
  {
    text-align: left;
    font: normal x-small Verdana, sans-serif;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
  }

TABLE.Footer
{
  margin-top: 3em;
  border-top: 1px solid silver;
  color: silver;
  font: 7pt Arial, sans-serif;
  width: 100%
}
  TABLE.Footer TD.Copyright
  {
    text-align: left;
  }
  TABLE.Footer TD.Version
  {
    text-align: right;
  }

UL
{
  margin-top: 0.5em;
  list-style: disk outside;
}

TABLE.PageNav
{
  margin-top: 4em;
  font: normal xx-small Verdana, sans-serif;
  width: 100%
}
  TABLE.PageNav TD.Prev
  {
    padding-left: 3em;
    text-align: left;
  }
  TABLE.PageNav TD.Next
  {
    padding-right: 3em;
    text-align: right;
  }

TABLE.IconList
{
  font: normal xx-small Verdana, sans-serif;
}
  TABLE.IconList TD
  {
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
  }  
  TABLE.IconList TD.Center
  {
    text-align: Center;
  }  

SPAN.InvalidLink
{
  font-weight: bold;
  color: yellow;
  background-color: red;
}


div.body table.fl          {padding: 2px; border-bottom: 1px solid #AC472C; border-right: none; border-top: none }
div.body table.fl th       {border-bottom: 1px solid #AC472C; margin: 10px; color: black }
div.body table.fl th.fl    {width: 500px}
div.body table.fl th.flcol {width: 75px}
div.body table.fl td       {border-top: 1px solid grey; border-right: none }
div.body table.fl td.fl    {width: 500px; border-right: none; border-bottom: none}
div.body table.fl td.flcol {text-align: center; vertical-align: center}
div.body table.fl td.flhidden {border-top: none; padding-left: 20px }
//table.fl td.odd   {background-color: #F6E0D8}
//table.fl td.even  {background-color: white}
