BODY
{
  color: black; background-color: white;
  text-align: left; /* was justify */
  margin: 0px 0px 0px 0px;
  font: normal x-small Verdana, sans-serif;
}

A
{
  color: black;
  text-decoration: underline;
}
  A:visited
  {
    color: #501000;
  }
  A:hover
  {
    text-decoration: underline;
  }

P.PageTitle
{
  font: normal 18pt Verdana, sans-serif;
  color: black; background-color: white;
  text-align: left;
  padding-top: 4px;
  height: 42px;
  border: 1px 1px 1px 1px solid black;
}

DIV.Body
{
  margin-left: 2em;
  margin-right: 2em;
}
  DIV.Body P
  {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  DIV.Body P.SectionTitle
  {
    text-align: left;
    font: bold small Verdana, sans-serif;
    padding-left: 0.1em;
    padding-top: 1em;
    padding-bottom: 1px;
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  DIV.Body P.Heading
  {
    text-align: left;
    font: bold x-small Verdana, sans-serif;
    border-top: 1px solid black;
  }
  DIV.Body P.RelatedTopics
  {
    margin-top: 3em;
    text-align: left;
    font: normal xx-small Verdana, sans-serif;
  }



TABLE.Footer
{
  margin-top: 3em;
  border-top: 1px solid black;
  color: black;
  font: 7pt Arial, sans-serif;
  width: 100%
}
  TABLE.Footer TD.Copyright
  {
    text-align: left;
  }
  TABLE.Footer TD.Version
  {
    text-align: right;
  }

UL
{
  margin-top: 0.5em;
  list-style: disk inside;
}
UL.Contents
{
  margin-left: 2em;
}
  UL.Contents A
  {
    text-decoration: none;
  }

TABLE.PageNav
{
  margin-top: 4em;
  font: normal xx-small Verdana, sans-serif;
  width: 100%
}
  TABLE.PageNav TD.Prev
  {
    padding-left: 3em;
    text-align: left;
  }
  TABLE.PageNav TD.Next
  {
    padding-right: 3em;
    text-align: right;
  }
