* {
  font: 10pt Tahoma;
  line-height: 1.5em;
  }

.titlepage h1, .titlepage h2, .titlepage h3 {
  border-bottom: solid 1px #ad4a28;
  font-weight: bold;
  font-size: 12pt;
  color: #ad4a28;
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-size: 12pt;
  color: #ad4a28;
  }

pre.programlisting {
  background-color: #FFFFDD;
  border: solid 1px #f3e5de;
  padding-top: 1.3em;
  padding-left: 1em;
  margin: 0 4em;
  font: 8pt "Lucida Console", "Courier New";
}

div.note, div.tip {
  border: solid 1px #f3e5de;
  padding: 0;
  margin: 4px;
  }
  
div.note h3, div.tip h3 {
  margin: 0; padding: 4px;
  font-weight: bold;
  background-color: #f3e5de;
  color: #ad4a28;
  }
  
code {
  font: 8pt "Lucida Console", "Courier New";
  }
  
dt {
  margin-bottom: 0.3em
  }
  
div.note p, div.tip p { margin: 4px; }

table {
  border-collapse: collapse;
  margin: 0 4em;
  }

col {
  min-width:160px;
  }
  
tr.segmentedgraphic td { border: none }
td.segmentedgraphic { border: none; padding: 0; margin: 0; white-space: nowrap; font-size: 1pt; line-height: 1em }
  
th {
  font-weight: bold;
  background-color: #f3e5de;
  color: #ad4a28;
  border: solid 1px #f3e5de;
  margin: 0px;
  padding: 4px;
  }

td {
  border: solid 1px #f3e5de;
  margin: 0px;
  padding: 4px;
}
    
.list-of-tables { display: none }

/* Topic Responses */
#topicresponse { border-top: solid 1px #ad4a28; margin-top: 12px; padding: 4px; }
#topicresponse_form { display: none; background: #f3e5de; padding: 10px; width: 50% }
#topicresponse_send { font: 9pt Tahoma; width: 188px }
#topicresponse_cancel { font: 9pt Tahoma; width: 99px }
#topicresponse_thanks { display: none }
#topicresponse_comments { font: 9pt Tahoma; width: 90%; height: 100px }
#topicresponse_iframe { border: none; width: 0px; height: 0px }

.navheader table { margin: 0em }
.navfooter table { margin: 0em }

.navheader th, .navheader td, .navfooter th, .navfooter td { border: none }

.guibutton {border:solid 1px #707070; background: #D4D4D4; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.15, #F2F2F2), color-stop(0.47, #EBEBEB), color-stop(0.48, #DDDDDD), color-stop(0.9, #CFCFCF)); background-image: -webkit-linear-gradient(top, #F2F2F2 15%, #EBEBEB 47%, #DDDDDD 48%, #CFCFCF 90%); background-image: -moz-linear-gradient(top, #F2F2F2 15%, #EBEBEB 47%, #DDDDDD 48%, #CFCFCF 90%); background-image: -ms-linear-gradient(top, #F2F2F2 15%, #EBEBEB 47%, #DDDDDD 48%, #CFCFCF 90%); background-image: -o-linear-gradient(top, #F2F2F2 15%, #EBEBEB 47%, #DDDDDD 48%, #CFCFCF 90%); background-image: linear-gradient(top, #F2F2F2 15%, #EBEBEB 47%, #DDDDDD 48%, #CFCFCF 90%); margin:0px 1px; padding:1px 2px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; white-space: nowrap}

.keycap {border-style:solid; border-width:1px 1px 2px; border-color: #6B6867 #6B6867 #111111; background:#dddddd; margin:0px 1px; padding:1px 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
