/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: verdana;
    background: #fff;
}

/***********************
	Wrapper CSS
***********************/

.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-bottom: 30px;
}

h2{
	font-size: 22pt;
	font-weight: 400;
	margin: 30px 0px 15px 0px;
	text-align: center;
	color: #BA2034;
}

p{
	font-size: 16pt;
	line-height: 1.3;
}

p img, img{
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

img{
	border: solid 2px gray;
}

.branding{
	text-align: center;
}

.logo{
	border: 0;
}

table{
	width: 100%;
	margin-bottom: 50px;
}


td{
	text-align: left;
	vertical-align: middle;
	padding: 10px;
}

th{
	font-weight: bold;
	font-size: 14pt;
	padding: 15px 0px 5px 0px;
}

.command{
	font-weight: bold;
	color: #69B7D3;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	.wrapper{
		width: 750px;
	}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
	.wrapper{
		width: 960px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait){
	.wrapper{
		width: 300px;
	}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape){
	.wrapper{
		width: 550px;
	}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait){
	.wrapper{
		width: 300px;
	}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape){
	.wrapper{
		width: 460px;
	}
}



