Source: ibus-keyman
Section: utils
Priority: optional
Maintainer: Daniel Glassey <wdg@debian.org>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf, pkg-config,
 libkmnkbp-dev (>=0.0.0~), libibus-1.0-dev (>= 1.2), x11proto-core-dev, libx11-dev
Standards-Version: 3.9.8
Homepage: http://www.keyman.com

Package: ibus-keyman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus (>= 1.3.7)
Description: Keyman engine for IBus
 IBus-keyman is a IM (input method) Engine for multiple languages, based on IBus.
 .
 This package provides the Keyman IM engine for IBus. With this module, you can
 use keyboard layouts designed for Keyman version 11 or earlier under the IBus
 platform.
 
