<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>keyman</string>
			<key>CFBundleTypeName</key>
			<string>Keyman Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>KMPackage</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>$(GET_INFO_STRING)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>tavultesoft.keyman</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keyman</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>InputMethodConnectionName</key>
	<string>Keyman_Input_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>KMInputController</string>
	<key>InputMethodServerPreferencesWindowControllerClass</key>
	<string>KMConfigurationWindowController</string>
	<key>Keyman</key>
	<dict>
		<key>SentryEnvironment</key>
		<string>local</string>
		<key>Tier</key>
		<string>alpha</string>
		<key>VersionTag</key>
		<string>-alpha-local</string>
		<key>VersionWithTag</key>
		<string>$(PRODUCT_VERSION)-alpha-local</string>
		<key>VersionGitTag</key>
		<string>release@$(PRODUCT_VERSION)-alpha-local</string>
		<key>VersionRelease</key>
		<string>x.y</string>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Keyman needs to send key events to the target application.</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(COPYRIGHT_STRING)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SentryCrashExceptionApplication</string>
	<key>TISIntendedLanguage</key>
	<string>mul</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>keyman-icon.png</string>
</dict>
</plist>
