[Desktop Entry]
Name=Keyman Configuration
Name[en_GB]=Keyman Configuration
Comment=Configure Keyman for Linux keyboards
Comment[en_GB]=Configure Keyman for Linux keyboards
Exec=km-config %u
Icon=km-config
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
Keywords=keyman;keyboard;input;
X-Desktop-File-Install-Version=0.21
MimeType=application/x-kmp;x-scheme-handler/x-kmp;application/keyman;x-scheme-handler/keyman
