src/inst/*.wixobj
src/inst/desktopui.*
src/inst/*.wixpdb
src/inst/*.msi
src/inst/*.exe
src/inst/download.mak
src/inst/fv_all.kmp
src/xml/localedef.dtd
src/xml/sentry.init.js
**/Thumbs.db

# Temporary ignores

FV Keyman License_revised040608.rtf
extra/
