**/DerivedData
**/project.xcworkspace
**/xcuserdata
Keyman4MacIM/output/*
Keyman4MacIM/Keyman4MacIM/Frameworks/**
Keyman4MacIM/Pods/**
Keyman4Mac/Keyman4Mac/Frameworks/**
Carthage/**
**/build
**/output