/***
   KeymanWeb 16.0
   Copyright 2022 SIL International
***/

/*
  globe-hint.css: CSS for embedded-mode-only globe hints
*/

#kmw-globehint {
  z-index: 10002;
}

div.kmw-globehint {
  position: absolute;
  left: 0;
  overflow: visible;
  transform: translateX(-50%);
}

div.kmw-globehint-tip {
  position: relative;
  border-radius: 6px 6px 4px 4px;
  border: solid 1px #cccccc;
  border-bottom: solid 1px #8a8d90;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0, 0.9);
}

span.kmw-globehint-label {
  display: block;
  font-size: 0.72em;
  text-align: center;
  padding: 3px;
  color: #fff;
  overflow: visible;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div.kmw-globehint-cap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-bottom-style: hidden;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: rgba(0, 0, 0, 0.9);
  /* width managed by KMW code */
}

div.android div.kmw-globehint-cap {
  border-top-color: rgba(48, 48, 48, .9);
}

div.android div.kmw-globehint-tip {
  background-color: rgba(48, 48, 48, .9);
}