<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product UpgradeCode="f212edf7-0bef-43bb-8fc2-2625ae7bbfca" Manufacturer="SIL International"
           Id="*" Name="$(var.PRODUCTNAME) $(var.RELEASE)" Version="$(var.VERSION)" Language="1033">
    <Package Keywords="Keyman,$(var.PRODUCTNAME),Keyboard,Engine"
             Description="$(var.PRODUCTNAME) $(var.RELEASE)" Comments="Contact:  Your local administrator" Compressed="yes"
             Manufacturer="SIL International" InstallerVersion="400" Platform="x86" Languages="1033" SummaryCodepage="1252" />

    <!-- ALLOW Upgrade from 8.0 -->
<!-- TODO: find 8.0 upgrade id from existing installer; are there any 7.0 installs?
    <Upgrade Id="E756C3BC-A261-427f-91BE-37955544A126">
      <UpgradeVersion OnlyDetect="no" Minimum="8.0.300.0" IncludeMinimum="yes"
                      Maximum="9.0.0.0" IncludeMaximum="no" MigrateFeatures="yes" Property="OLDERFOUND80" />
    </Upgrade>
-->

    <!-- ALLOW Upgrade from 9.0 -->
<!-- TODO: find 9.0 upgrade id from existing installer
    <Upgrade Id="593EA657-7DF2-4799-B90E-B9E95A8E66D3">
      <UpgradeVersion OnlyDetect="no" Minimum="9.0.454.0" IncludeMinimum="yes"
                      Maximum="10.0.0.0" IncludeMaximum="no" MigrateFeatures="yes" Property="VERSION9FOUND" />
    </Upgrade>
-->

    <!-- PREVENT or ALLOW Upgrade from 11.0 or later versions -->
    <Upgrade Id="f212edf7-0bef-43bb-8fc2-2625ae7bbfca">
      <UpgradeVersion OnlyDetect="no" Minimum="11.0.0.0" IncludeMinimum="yes"
                      Maximum="$(var.VERSION)" IncludeMaximum="no" MigrateFeatures="yes" Property="VERSION11FOUND" />
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.VERSION)" IncludeMinimum="yes"
                      Maximum="$(var.VERSION)" IncludeMaximum="yes" Property="CURRENTVERSIONFOUND" />
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.VERSION)" IncludeMinimum="no" Property="NEWERFOUND" />
    </Upgrade>

    <Property Id='OLDINSTALLDIR'>
      <RegistrySearch Id='oldinstalldir_search' Key='Software\$(var.OEMNAME)\$(var.PRODUCTNAME)' Root='HKLM' Name='root path' Type='raw' />
    </Property>

    <Property Id='OnlineProductID' Value='30' />

    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">

      <Merge Id="keymanengine" Language='1033' SourceFile='$(var.ROOT)\src\engine\inst\keymanengine.msm' />

      <Directory Id="ProgramFilesFolder" Name=".">
        <Directory Id="KEYMANROOT" Name="$(var.OEMNAME)">
          <Directory Id="KEYMAN" Name="$(var.PRODUCTNAME)">
            <Directory Id="INSTALLDIR" Name="." FileSource="$(var.ROOT)\bin\desktop\">

              <Component>
                <File Name="kmshell.exe" KeyPath="yes">
                  <Shortcut Id="desktopKeyman" Advertise="yes" Directory="DesktopFolder" Name="$(var.PRODUCTNAME)" WorkingDirectory='INSTALLDIR' Icon="appicon.ico" IconIndex="0" />
                  <Shortcut Id="startmenuKeyman" Advertise="yes" Directory="ProgramMenuDir" Name="$(var.PRODUCTNAME)" WorkingDirectory='INSTALLDIR' Icon="appicon.ico" IconIndex="0" />
                  <Shortcut Id="startmenuKeymanConfiguration" Advertise="yes" Directory="ProgramMenuDir" Arguments="-c" Name="$(var.PRODUCTNAME) Configuration" WorkingDirectory='INSTALLDIR' Icon="KMSHELL.ico" IconIndex="0" />
                </File>

                <RemoveFile Id="CachedInstallDirFiles" Property="CachedInstallDir" On="uninstall" Name="*" />
                <RemoveFolder Id="CachedInstallDir" Property="CachedInstallDir" On="uninstall" />
                <RemoveFolder Id="CachedInstallDirParent" Property="CachedInstallDirParent" On="uninstall" />
              </Component>

              <Component>
                <File Name="menu.txt" Source="..\branding\menu.txt" KeyPath="yes" />
              </Component>

              <Component>
                <File Name="messages.txt" Source="$(var.ROOT)\src\desktop\branding\messages.txt" KeyPath="yes" />
              </Component>

              <Component>
                <File Name="menutitle.png" Source="..\branding\menutitle.png" KeyPath="yes" />
              </Component>

              <Component>
                <File Id="trayicon.ico" Name="trayicon.ico" Source="..\branding\trayicon.ico" KeyPath="yes" />
              </Component>

              <Component>
                <File Id="KeymanDesktop.chm" Name="KeymanDesktop.chm" KeyPath="yes" />
              </Component>

              <Component>
                <File Id="appicon.ico" Name="appicon.ico" Source="..\branding\appicon.ico" KeyPath="yes" />
              </Component>

              <Component>
                <File Id="cfgicon.ico" Name="cfgicon.ico" Source="..\branding\cfgicon.ico" KeyPath="yes" />
              </Component>

              <Component Id="Reg_RootPath" Guid="*">
                <RegistryValue KeyPath="yes" Root="HKLM" Key="SOFTWARE\$(var.OEMNAME)\$(var.PRODUCTNAME)" Name="root path" Type="string" Value="[INSTALLDIR]" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.OEMNAME)\$(var.PRODUCTNAME)" Name="version" Type="string" Value="$(var.VERSION)" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.OEMNAME)\$(var.PRODUCTNAME)" Name="release" Type="string" Value="$(var.RELEASE)" />
                <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="Software\$(var.OEMNAME)\$(var.PRODUCTNAME)" />
              </Component>

              <Component Id="Reg_OemProductPath" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\Keyman\Keyman Engine">
                  <RegistryValue KeyPath="yes" Name="oem product path" Type="multiString" Value="[INSTALLDIR]" Action="append" />
                </RegistryKey>
              </Component>

              <Component Id="removeCU" Guid="*">
                <RegistryValue KeyPath="yes" Root="HKCU" Key="Software\$(var.OEMNAME)\$(var.PRODUCTNAME)" Name="Install" Type="string" Value="1" />
                <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKCU" Key="Software\$(var.OEMNAME)\$(var.PRODUCTNAME)" />
                <RemoveFolder Id="ProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
              </Component>

              <Directory Id="dir_locale" Name="locale" />

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.OEMNAME)" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>

    <Feature Id="AlwaysInstall" Title="$(var.PRODUCTNAME) Application Files" Description="Required program files for $(var.PRODUCTNAME)"
             Level="1" ConfigurableDirectory="INSTALLDIR" Absent="disallow" AllowAdvertise="no">
      <ComponentRef Id="kmshell.exe" Primary="yes" />
      <ComponentRef Id="menu.txt" />
      <ComponentRef Id="messages.txt" />
      <ComponentRef Id="trayicon.ico" />
      <ComponentRef Id="KeymanDesktop.chm" />
      <ComponentRef Id="appicon.ico" />
      <ComponentRef Id="cfgicon.ico" />
      <ComponentRef Id="menutitle.png" />

      <ComponentRef Id="Reg_RootPath" />
      <ComponentRef Id="Reg_OemProductPath" />
      <ComponentRef Id="removeCU" />
      <ComponentGroupRef Id="DesktopUI" />

      <MergeRef Id='keymanengine' />
    </Feature>

    <!-- Actions -->

    <CustomAction Id="RollbackPostInstallCU" Execute="rollback" Impersonate="yes" ExeCommand='-rcu' BinaryKey='insthelp.exe' />
    <CustomAction Id="RollbackPostInstallLM" Execute="rollback" Impersonate="no" ExeCommand='-rlm' BinaryKey='insthelp.exe' />
    <CustomAction Id="PreUninstallUser" Execute="deferred" Impersonate="yes" ExeCommand='-uu' BinaryKey="insthelp.exe" />
    <CustomAction Id='AlreadyUpdated' Error='[ProductName] has already been updated to [ProductVersion] or newer.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] or a related edition is already installed.' />

    <CustomAction Id='LocateInstallDir' Execute='immediate' Directory='INSTALLDIR' Value='[OLDINSTALLDIR]' />

    <CustomAction Id="SaveARPInstallLocation" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <!-- I1165 - Uninstall failure on Win9x - refer to ProgramFilesFolder instead of %ProgramFiles! -->
    <CustomAction Id='CachedInstallDir' Property='CachedInstallDir' Value='[ProgramFilesFolder]\$(var.OEMNAME)\Cached Installer Files\[ProductCode]' />
    <CustomAction Id='CachedInstallDirParent' Property='CachedInstallDirParent' Value='[ProgramFilesFolder]\$(var.OEMNAME)\Cached Installer Files' />

    <InstallExecuteSequence>
      <Custom Action='LocateInstallDir' After='CostFinalize'>VERSION11FOUND</Custom>

      <Custom Action='CachedInstallDir' After='CostFinalize' />
      <Custom Action='CachedInstallDirParent' After='CostFinalize' />

      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>CURRENTVERSIONFOUND</Custom>
      <Custom Action='NoDowngrade' After='AlreadyUpdated'>NEWERFOUND Or HIGHERFOUND</Custom>

      <RemoveExistingProducts After='InstallValidate'>VERSION9FOUND or VERSION10FOUND or VERSION11FOUND or OLDERFOUND70 OR OLDERFOUND80 Or OLDERFOUNDL70</RemoveExistingProducts>

      <Custom Action='RollbackPostInstallLM' After='InstallInitialize'><![CDATA[Not Installed Or REINSTALL]]></Custom>
      <Custom Action='RollbackPostInstallCU' After='InstallInitialize'><![CDATA[Not Installed Or REINSTALL]]></Custom>

      <Custom Action="PreUninstallUser" After="InstallInitialize"><![CDATA[REMOVE="ALL" And Not REINSTALL And Not UPGRADINGPRODUCTCODE]]></Custom>

      <Custom Action='SaveARPInstallLocation' After='InstallValidate'><![CDATA[Not Installed Or REINSTALL]]></Custom>
    </InstallExecuteSequence>

    <Media Id="1" EmbedCab="yes" Cabinet="Data1.cab" VolumeLabel="DISK1" />

    <Property Id="ALLUSERS">1</Property>

    <UIRef Id="WixUI_FeatureTree"/>

    <Icon Id="appicon.ico" SourceFile="..\branding\appicon.ico" />
    <Icon Id="KMSHELL.ico" SourceFile="..\branding\cfgicon.ico" />

    <Binary Id="insthelp.exe" SourceFile="$(var.ROOT)\bin\desktop\insthelp.exe" />

    <Condition Message="$(var.PRODUCTNAME) requires Windows 7 or later"><![CDATA[Installed OR (VersionNT >= 601)]]></Condition>

    <Property Id="ARPURLINFOABOUT" Value="https://www.firstvoices.com/" />
    <Property Id="ARPURLUPDATEINFO" Value="https://www.firstvoices.com/" />
    <Property Id="ARPHELPLINK" Value="https://www.firstvoices.com/" />

  </Product>
</Wix>
