# Ignore files required only in development.
build.sh
bundle.inc.sh
Makefile
src/*
test/*
tools/*
tsconfig.json
tsconfig.kmc-base.json
tsconfig.tsbuildinfo
dist-tests/*
tests/*
# Ignore other unneeded build artifacts
.nyc_output/
