# /usr/share/dbus-1/system-services/com.keyman.SystemService1.service

[D-BUS Service]
Name=com.keyman.SystemService1
Exec=/bin/false
User=root
SystemdService=systemd-keyman.service
