Source: libkmfl
Priority: optional
Maintainer: Doug Rintoul <doug_rintoul@sil.org>
Uploaders: Daniel Glassey <wdg@debian.org>
Build-Depends: cdbs (>= 0.4.27-1), debhelper (>= 4.1.0), libkmflcomp-dev
Standards-Version: 3.6.2

Package: libkmfl-dev
Section: libdevel
Depends: libkmfl0 (= ${Source-Version})
Description: A Library for providing Keyman(C) services to Linux - development
 This package contains the header and development files needed to build
 programs and packages using libkmfl.

Package: libkmfl0
Section: libs
Depends: ${shlibs:Depends}
Description: A Library for providing Keyman(C) services to Linux - runtime
 This package contains the runtime part of libkmfl.
