Source: libkmfl
Priority: optional
Section: libs
Maintainer: Keyman team <support@keyman.com>
Vcs-Git: https://github.com/keymanapp/keyman.git
Vcs-Browser: https://github.com/keymanapp/keyman
Homepage: https://www.keyman.com/
Build-Depends: cdbs (>= 0.4.27), debhelper (>= 9), dh-autoreconf, libkmflcomp-dev (>=10.99.0)
Standards-Version: 3.9.7

Package: libkmfl-dev
Section: libdevel
Architecture: any
Depends: libkmfl0 (= ${binary:Version}), ${misc:Depends}
Description: KMFL library - development
 The kmfl library is a multilingual text processing library that implements
 the Keyman(C) text processing language.
 .
 This package contains the header and development files needed to build
 programs and packages using libkmfl.

Package: libkmfl0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KMFL library - runtime
 The kmfl library is a multilingual text processing library that implements
 the Keyman(C) text processing language.
 .
 This package contains the runtime part of libkmfl.
