#include <windows.h>
#include "include/keyman/keyman_core_api_version.h"

// Encoding: UTF8 (compile with rc /c65001)
// Use rc /n to append null to all strings

1 VERSIONINFO
  FILEVERSION		KM_CORE_VERSION_MAJOR, KM_CORE_VERSION_MINOR, KM_CORE_VERSION_PATCH, 0
  PRODUCTVERSION	KM_CORE_VERSION_MAJOR, KM_CORE_VERSION_MINOR, KM_CORE_VERSION_PATCH, 0
  FILEFLAGSMASK		0x3fL
  FILEFLAGS		0x0L
  FILEOS		VOS_NT_WINDOWS32
  FILETYPE		VFT_DLL
  FILESUBTYPE		0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "0C0904E4"
      BEGIN
        VALUE "CompanyName", "SIL International"
        VALUE "FileDescription", "Keyman Core"
        VALUE "FileVersion", KM_CORE_VERSION_STRING
        VALUE "InternalName", "Keyman Core"
        VALUE "LegalCopyright", "© SIL International"
        VALUE "LegalTrademarks", ""
        VALUE "OriginalFilename", "KEYMANCORE1.DLL"
        VALUE "ProductName", "Keyman Core"
        VALUE "ProductVersion", KM_CORE_VERSION_STRING
        VALUE "Comments", ""
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0xc09, 1252
    END
  END
