[Desktop Entry]
Name=Keyman Keyboards
Name[en_GB]=Keyman Keyboards
Comment=Configure Keyman keyboards
Comment[en_GB]=Configure Keyman keyboards
Exec=km-config -i %u
Icon=km-config
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
Keywords=keyman;keyboard;input;
X-Desktop-File-Install-Version=0.21
MimeType=application/x-kmp;x-scheme-handler/x-kmp;application/keyman;x-scheme-handler/keyman
