/* Popup menu styles */
.menu
{ 
  white-space: nowrap;
  position: absolute;
  display: block;
  visibility: hidden;
  background: white;
  border: solid 1px #ACA899;
  font-size: 11px;
  padding: 4px;
  background-image: url("menugrey.gif"); 
  background-repeat: repeat-y; 
  background-position: 0 0;
  width: 220px;
  z-index: 100;
}

.menuitem
{ 
  display: block; 
  padding: 4px 4px 4px 28px; 
  margin: 1px;
  cursor: default;
}
 
.hover
{ 
  color: #000000;
  background: #FFE3DB;
  border: solid 1px #DB704F;
  padding: 3px 3px 3px 27px;
}

.down
{ 
  background: #DB704F; 
}

#menubackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(64,64,64,0.1);
  display: none;
}

#menubackground.show {
  display: block;
  z-index: 99;
}
