/***
   Keyman Engine for Android
   Copyright 2023 SIL International
***/

/*
  imagebanner.css: CSS for theming image banner (separate from KeymanWeb assets).
  Image banner can be themed with .svg file
*/

/*
.phone.android .kmw-banner-image {
  background-image: url('svg/keyman_banner.svg');
  position:absolute;
}

.tablet.android .kmw-banner-image {
  background-image: url('svg/gray_banner.svg');
  position:absolute;
}
*/