body {
  font-family: Tahoma,helvetica;
}

h3 {
  font-size: 1em;
  font-weight:normal;
  color: darkred;
  margin-bottom: 4px
}

.test {
  font-size: 1.5em;
  width:80%;
  min-height:30px;
  border: 1px solid gray;
}

#KeymanWebControl {
  width:50%;
  min-width:600px;
}
