Source: scim-kmfl-imengine
Priority: optional
Section: utils
Maintainer: Doug Rintoul <doug_rintoul@sil.org>
Uploaders: Daniel Glassey <wdg@debian.org>
Build-Depends: debhelper (>= 4.0.0), libkmfl-dev, libscim-dev (>=1.4.1), libxkbfile-dev
Standards-Version: 3.6.2

Package: scim-kmfl-imengine
Section: utils
Architecture: any
Depends: libkmflcomp, libkmfl, scim (>=1.4.1)
Description: KMFL imengine for SCIM
 KMFL imengine for SCIM

Package: scim-kmfl-imengine-dev
Section: libdevel
Architecture: any
Depends: scim-kmfl-imengine
Description: KMFL imengine for SCIM
 KMFL imengine for SCIM
