      #pageheader { font: 16pt Tahoma; padding:	8px 8px 8px 8px; border-bottom: 2px solid #CC3846; margin: 0px 0px 0px 0px; }
      #upperexpand {float: right; height: 24px; background-position: 6px 7px; background-repeat: no-repeat; font: bold 8pt Tahoma; padding: 5px 0px 0px 20px;}
      #state { display: none; }
      
      .pagetext a { text-decoration: none; }
      .pagetext a:hover { text-decoration: underline; }
      
      .page { display: none; }
      
      /*display: block; position: absolute; z-index: 100; right: 10px; top: 30px; width: 200px; height: auto; background: #fffffc; border: solid 1px red }*/

      table.io img { border: none }
      table.io {
        /* background-color: #fef3c1; */
        border: solid 1px #ad4a28;
        margin: 8px 16px;
      }
      table.io td {
        text-align: center;
        padding: 5px;
        font: bold 8pt Tahoma;
      }
      table.io td.arrow {
        padding: 5px 20px 5px 20px;
      }
      table.io th {
        font: bold 8pt Tahoma 
      }
  
      .pages { overflow-y: auto; padding-top: 12px; width: document.offsetWidth; 
        height: expression(
          (document.getElementById('tabs')?document.getElementById('tabs').offsetTop:500) - 
          (document.getElementById('pageheader')?document.getElementById('pageheader').offsetHeight:100)
        ); }

      .checkbox { background-image: url("chk_checkbox.gif");}
      .checked { background-image: url("chk_checked.gif"); }

      .headerimage { float: left; width: 140px; margin: 5px 20px 0px 10px; text-align: center; }
      .quicklinks { margin-top: 16px; }
      .quicklinks h3 { text-align: center }
      .quicklinks ul { margin-left: 16px; padding-left: 0px; font: 8pt Tahoma; margin-top: 4px; text-align: left }
      .pagetext { float: left; padding: 0px 20px 20px 0px; font: 10pt Tahoma; text-align: justify; }
      .pagetext ul { margin: 0px 10px 10px 16px; }

      .tabb { top: -2px; position: relative; float: left; height: 90px; width: 90px; text-align: center; font: bold 10pt Tahoma; border-top: 2px solid #CC3846; background:none; color: #888888; }
      .tabbselected { border-top: none; width: 90px; border-left: 2px solid #CC3846; border-right: 2px solid #CC3846; border-bottom: 2px solid #CC3846; padding-top: 2px; background: #FFFFFF; color: #000000; }
      .tabbackground { position: absolute; bottom: 0px; background: #EEEEEE; filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#dedee2,endColorStr=#eeeeee); width: 100%; padding-bottom: 2px; border-top: 2px solid #CC3846; }
      .tabbspacer { float: left; width: 30px; }


      .filelist { padding: 0 10px 10px 10px; clear: all; }

      .file { margin-top: 5px; height: 24px; border: 2px solid #CEEDFB; padding: 2px 0px 2px 2px; display: block }
      .fileexpand { float: left; width: 20px; height: 24px; background-image: url("btn_expand.gif"); background-position: 45% 50%; background-repeat: no-repeat; }
      .fileexpand_empty { float: left; width: 20px; height: 24px; background-image: url("btn_expand_empty.gif"); background-position: 45% 50%; background-repeat: no-repeat; }
      .filecontract { background-image: url("btn_contract.gif"); }
      .fileicon { float: left; margin: 4px 2px 0px 0px; }
      .filename { float: left; margin: 2px 0px 2px 2px; font: bold 12pt Tahoma; }
      .filedescription { float: left; margin: 5px 0px 0px 10px; font: 10pt Tahoma; }
      .filedetails { clear: all; display: none; padding-left: 20px; margin-bottom: 2px;  }
      .filedetailtext { vertical-align: top; float: left; font: 9pt Tahoma; }
      table.filedetailtext tr th { white-space: nowrap; vertical-align: top; text-align: left; padding-left: 0px; padding-right: 8px; }
      .fileoptions { float: right; }
      
      body { padding: 0px; margin: 0px; overflow: hidden; cursor: default}
      html { overflow: hidden }
      
      p { font: 10pt Tahoma; margin: 4px 0 }
      p.follow { color: #ad4a28; }
      p.upgrade { font-weight: bold }
      h2 { font: bold 12pt Tahoma; margin: 4px 0 8px 0 }
      h3 { font: bold 10pt Tahoma; margin: 4px 0 }

      
    /* Popup menu styles */
      .menu { position: absolute; display: block; background: white; visibility: hidden; border: solid 1px #ACA899; font: 8pt Tahoma; padding: 0px; background-image: url("menugrey.gif"); background-repeat: repeat-y; background-position: 0 0; }
      k\:menuitem { width: 100%; padding: 4 4 4 28; margin: 1px; }
      k\:menuitem.hover { color: #000000; background: #FFE3DB; border: solid 1px #DB704F; padding: 3 3 3 27; }
      k\:menuitem.down { background: #DB704F; }
      