/bin/
/lib/
delphi/tools/*/bin/
delphi/tools/*/obj/
delphi/**/*.local
delphi/**/*.~*
delphi/**/__recovery/
delphi/**/__history/
delphi/general/keymanversion_build.inc
delphi/ext/cef4delphi/packages/CEF4Delphi.res
