<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>3YE4W86L3G</string>
    <key>signingCertificate</key>
    <string>BB842A0081298BBA6D034C85451750B08FC9EE8A</string>
    <key>installerSigningCertificate</key>
    <string>BB842A0081298BBA6D034C85451750B08FC9EE8A</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>Tavultesoft.Keyman</key>
        <string>Keyman Distribution</string>
        <key>Tavultesoft.Keyman.SWKeyboard</key>
        <string>Keyman Distribution SWKeyboard</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
    <key>manageAppVersionAndBuildNumber</key>
    <false/>
</dict>
</plist>
