<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="engine" Version="$(var.VERSION)" Language="1033">
    <Package Id="{CE38CB16-4448-4432-851B-B3FCE3AF464F}" Keywords="Keyman,Keyboard,Engine"
             Description="Keyman Engine $(var.RELEASE)" Comments="Contact:  Your local administrator"
             Manufacturer="SIL International" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

    <ComponentGroupRef Id="KeymanEngineComponents" />
    <ComponentGroupRef Id="KeymanEngineSentryComponents" />

    <Directory Id="TARGETDIR" Name="SourceDir" ComponentGuidGenerationSeed="50d43807-710f-4ed9-b503-637558eb0651">
      <Directory Id="CommonFilesFolder">
        <Directory Id="KEYMANROOT" Name="Keyman">
          <Directory Id="KEYMAN_ENGINE" Name="Keyman Engine">
            <Directory Id="INSTALLDIR">
              <Directory Id="dir_sentry_0.6.0" Name="sentry-0.6.0" />
              <Directory Id="xml" Name="xml">
                <Directory Id="osk" Name="osk" FileSource="..\..\engine\xml\osk\">
                  <Component Id="xml" Guid="{58D31506-F964-47AF-B4A0-51107A74C2FE}">
                    <!-- while we'd like to use heat to harvest the files in the OSK folder during build, this breaks component
                         guid rules with merge modules, as we end up with LGHT0231, as the CommonFilesFolder root folder seems to be
                         ignored when building the merge module. Therefore we list these files in a single component for now. -->
                    <File Id="osk.xsl" Name="osk.xsl" />
                    <File Id="keyaltl.gif"         Name="key-altl.gif" />
                    <File Id="keyaltr.gif"         Name="key-altr.gif" />
                    <File Id="keybackspace.gif"    Name="key-backspace.gif" />
                    <File Id="keybkslash.gif"      Name="key-bkslash.gif" />
                    <File Id="keycapslock.gif"     Name="key-capslock.gif" />
                    <File Id="keyctrll.gif"        Name="key-ctrll.gif" />
                    <File Id="keyctrlr.gif"        Name="key-ctrlr.gif" />
                    <File Id="keyenter.gif"        Name="key-enter.gif" />
                    <File Id="keyplain.gif"        Name="key-plain.gif" />
                    <File Id="keyshift102.gif"     Name="key-shift102.gif" />
                    <File Id="keyshiftl.gif"       Name="key-shiftl.gif" />
                    <File Id="keyshiftr.gif"       Name="key-shiftr.gif" />
                    <File Id="keyspace.gif"        Name="key-space.gif" />
                    <File Id="keytab.gif"          Name="key-tab.gif" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder" Name="CADF">
        <Directory Id="CommonApp_KeymanRoot" Name="Keyman" >
          <Directory Id="CommonApp_TS_Keyman" Name="Keyman Engine">
            <Directory Id="CommonApp_TS_Keyman_Kbd" Name="Keyboard">
              <Directory Id="CommonApp_TS_Keyman_Kbd_Pkg" Name="_Package" />
            </Directory>
            <Directory Id="CommonApp_TS_Keyman_Products" Name="Products" />
          </Directory>
          <Component Id="CommonAppDataRemovals" Guid="{13CEAE9E-0A5F-4B97-9D18-6F4006B147BC}">
            <RegistryValue KeyPath="yes" Root="HKLM" Key="Software\Keyman\Keyman Engine" Name="root path" Type="string" Value="[INSTALLDIR]" />
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="Software\Keyman\Keyman Engine" />
            <RemoveFolder Id="CAD_ts_Uninstall" On="uninstall" />
            <RemoveFolder Id="CAD_ts_Keyman_Uninstall" On="uninstall" Directory="CommonApp_TS_Keyman" />
            <RemoveFolder Id="CAD_ts_Keyman_Kbd_Uninstall" On="uninstall" Directory="CommonApp_TS_Keyman_Kbd" />
            <RemoveFolder Id="CAD_ts_Keyman_Products_Uninstall" On="uninstall" Directory="CommonApp_TS_Keyman_Products" />
            <RemoveFolder Id="CAD_ts_Keyman_Kbd_Pkg_Uninst" On="uninstall" Directory="CommonApp_TS_Keyman_Kbd_Pkg" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder" Name="ADF">
        <Directory Id="App_KeymanRoot" Name="Keyman" >
          <Directory Id="App_TS_Keyman" Name="Keyman Engine">
            <Directory Id="App_TS_Keyman_Keyboard" Name="Keyboard">
              <Directory Id="App_TS_Keyman_Kbd_Pkg" Name="_Package" />
            </Directory>
            <Directory Id="App_TS_Keyman_Products" Name="Products" />
          </Directory>
          <Component Id="AppDataRemovals" Guid="{53643EA7-7DEA-4398-BA11-3409C5A7D60C}">
            <RegistryValue KeyPath="yes" Root="HKCU" Key="Software\Keyman\Keyman Engine" Name="root path" Type="string" Value="[INSTALLDIR]" />
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKCU" Key="Software\Keyman\Keyman Engine" />
            <RemoveFolder Id="AD_ts_Uninstall" On="uninstall" />
            <RemoveFolder Id="AD_ts_Keyman_Uninstall" On="uninstall" Directory="App_TS_Keyman" />
            <RemoveFolder Id="AD_ts_Keyman_Keyboard_Uninstall" On="uninstall" Directory="App_TS_Keyman_Keyboard" />
            <RemoveFolder Id="AD_ts_Keyman_Products_Uninstall" On="uninstall" Directory="App_TS_Keyman_Products" />
            <RemoveFolder Id="AD_ts_Keyman_Kbd_Pkg_Uninst" On="uninstall" Directory="App_TS_Keyman_Kbd_Pkg" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <CustomAction Id="PreUninstallA" Execute="deferred" Impersonate="no" BinaryKey="insthelper.dll" DllEntry="PreUninstall" />
    <CustomAction Id="EnginePostInstall" Execute="deferred" Impersonate="no" BinaryKey="insthelper.dll" DllEntry="EnginePostInstall" />

    <InstallExecuteSequence>
      <Custom Action="PreUninstallA" After="InstallInitialize"><![CDATA[REMOVE="ALL" And Not REINSTALL And Not UPGRADINGPRODUCTCODE]]></Custom>
      <Custom Action="EnginePostInstall" Before="InstallFinalize"><![CDATA[NOT Installed OR UPGRADINGPRODUCTCODE Or REINSTALL]]></Custom>
    </InstallExecuteSequence>

    <Binary Id="insthelper.dll" SourceFile="..\..\..\bin\engine\insthelper.dll" />

  </Module>
</Wix>
