keyman32/MSG00001.bin
keyman32/keyman-debug-etw.h
keyman32/keyman-debug-etw.rc
keyman32/keyman-debug-etw.res
keyman32/keyman-debug-etwTEMP.BIN
mcompile/Debug

# Visual Studio packages for test
packages/