**/*.aps
**/BuildLog.htm

# Delphi target folders -- by including Debug/ and Release/ we avoid accidentally matching folders that we might create otherwise
**/Win64/Debug/
**/Win64/Release/
**/Win32/Debug/
**/Win32/Release/

# These are intermediate and output folders for VC++
**/obj
**/x64

# KeymanWeb is copied from /web/src during Developer build
developer/TIKE/xml/kmw/resource

# These files are generated during build
developer/TIKE/icons.res
developer/kmcmpdll/Compiler.res
developer/kmcomp/icons.res
engine/keyman32/KEYMAN32.res
engine/keyman64/Keyman64.res
engine/keymanx64/keymanx64.res
engine/mcompile/Release/
tds_file.txt
global/delphi/cust/MessageIdentifierConsts.pas

# These are built from corresponding manifest.in and version.in
**/manifest.xml
**/version.rc

# Breakpad files generated for Sentry
**/*.sym

# Coverity intermediate folder and files
cov-int/
keyman-windows-coverity.tgz
