1 VERSIONINFO
  FILEVERSION		8,0,337,0
  PRODUCTVERSION	8,0,337,0
  FILEFLAGSMASK		0x3fL
  FILEFLAGS		0x0L
  FILEOS		0x4L
  FILETYPE		0x2L
  FILESUBTYPE		0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "0C0904E4"
      BEGIN
        VALUE "CompanyName", "SIL International\0"
        VALUE "FileDescription", "ImportKeyboard Utility\0"
        VALUE "FileVersion", "8.0.337.0\0"
        VALUE "InternalName", "KEYMAN32\0"
        VALUE "LegalCopyright", "© SIL International\0"
        VALUE "LegalTrademarks", "\0"
        VALUE "OriginalFilename", "importkeyboard.exe\0"
        VALUE "ProductName", "SIL International Keyman Build Environment\0"
        VALUE "ProductVersion", "8.0.337.0\0"
        VALUE "Comments", "\0"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0xc09, 1252
    END
  END
