
2 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kmn.ico"
3 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kps.ico"
6 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kpj.ico"
7 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kmx.ico"
8 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kmp.ico"
11 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kvk.ico"
12 ICON DISCARDABLE "..\\..\\global\\res\\90\\filetypes\\kvks.ico"


DRAG_ARROW_MASK BITMAP "..\\..\\global\\res\\bmp\\drag_arrow_mask.bmp"
DRAG_ARROW_IMAGE BITMAP "..\\..\\global\\res\\bmp\\drag_arrow_image.bmp"
KEYCAPSMOOTH BITMAP DISCARDABLE "..\\..\\global\\res\\bmp\\keycap.bmp"
