1	ICON	"..\\..\\..\\..\\common\\resources\\icons\\filetypes\\kmp.ico"
2	ICON	"..\\..\\..\\..\\common\\resources\\icons\\filetypes\\kmx.ico"
3	ICON	"..\\..\\..\\..\\common\\resources\\icons\\filetypes\\kvk.ico"
