Source: kmflcomp
Priority: optional
Maintainer: Doug Rintoul <doug_rintoul@sil.org>
Uploaders: Daniel Glassey <wdg@debian.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: libkmflcomp-dev
Section: libdevel
Architecture: any
Depends: libkmflcomp0 (= ${Source-Version})
Description: Development files for libkmflcomp
 Development libraries and headers to use libkmflcomp in an application

Package: kmflcomp
Section: utils
Architecture: i386
Depends: libkmflcomp0 (= ${Source-Version})
Description: KMFL Compiler
 Compile Keyman-style keyboard layout files to a binary format for use by the 
 KMFL keystroke interpreter.

Package: libkmflcomp0
Section: libs
Depends: ${shlibs:Depends}
Architecture: i386
Description: KMFL compiler library
 Library to compile Keyman layout files to a binary format for use by the 
 KMFL keystroke interpreter.
