#state
{
  display: none;
}

#displaylanguage
{
  left: 8px;
  font-size: 12px;
  position: absolute;
  top: 64px;
  color: #000000;
}
#displaylanguage a
{
  color: #000000;
}
#menuframe
{
  position: absolute;
  left: 0px;
  top: 40px;
  width: 117px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 10;
  background: #79C3DA;
}
#contentframe
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid #6D6C6F;
}
#footerframe
{
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: #79C3DA;
  padding: 10px 8px 8px 8px;
}

.contentpage
{
  display: none;
}

.header
{
  left: 0;
  top: 0;
  overflow: hidden;
  font-size: 24px;
  padding: 4px;
  color: #000000;
  font-weight: bold;
  background: #79C3DA;
}

#header-pad
{
  background: #79C3DA;
  width: 117px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.content
{
  background: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  border-right: 1px solid #6D6C6F;
  border-top: 1px solid #6D6C6F;
  border-bottom: 1px solid #6D6C6F;
}

.contentBox
{
  padding: 0px;
  background: white;
}

.menuframe
{
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 8px 0px 8px 2px;
  border-right: 2px solid #888888;
  background: #79C3DA !important;
  border-right: 1px solid #6D6C6F;
}

.menuframe_active
{
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 6px 2px 6px 0px;
  border-right: 1px solid blue;
  background: white !important;
  border-top: 1px solid #6D6C6F;
  border-bottom: 1px solid #6D6C6F;
  border-left: 1px solid #6D6C6F;
}

.menuframe_pro {
  font-weight: bold;
  color: #CC3846;
}

#menuframe_footer
{
  height: 100%;
  background: #79C3DA;
  border-right: 1px solid #6D6C6F;
}

.footer_instant {
  font-size: 12px;
  padding-top: 3px;
  padding-right: 3px;
}

input[type='submit'], input[type='button'], button
{
  background: #F68924;
  border-radius: 4px;
  color: #33333f;
  border: none;
  vertical-align: top;
}

input[type='submit']:disabled, input[type='button']:disabled, button:disabled
{
  color: #c0c0cf;
  background: #80808f;
}

a.hotkey:link, a.hotkey:visited
{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
a.hotkey:active, a.hotkey:hover
{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

body
{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: white;
  height: 100%;
}
html
{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  height: 100%;
}

.helplinks
{
  padding: 6px 4px 0 0;
  float: right;
  font-size: 12px;
  font-weight: normal;
}
.helplinks a
{
  color: #000000;
  text-decoration: none;
}
.helplinks a:hover
{
  cursor: pointer;
  text-decoration: underline;
}

/* List Styles */
.list
{
}
.list_packageitem
{
  display: block;
  background: none;
  margin: 4px 4px 4px 4px;
  padding: 2px;
  font-weight: bold;
  font-size: 16px;
}
.list_item
{
  display: block;
  background: none;
  margin: 4px;
  padding: 0px;
  clear: left;
  cursor: default;
}

.list_item_focus
{
  background: url("transLightBlue.png") repeat !important;
}

.list_title
{
  padding: 0 0 2px 4px;
}
.keyboard_unloaded, .keyboard_unloaded td
{
  color: #777;
}
.keyboard_loaded, .keyboard_loaded td
{
  color: black;
}
.list_header
{
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}
.list_icon
{
  display: inline;
  margin: 2px 6px 0px 2px;
  vertical-align: middle;
}
.list_detail
{
  background: #f0f0ff;
  clear: both;
  font-size: 11px;
  margin: 1px;
  display: none;
}

.list_detail > table > tbody > tr > td
{
  border: solid 1px #79c3da;
  vertical-align: top;
}

.list_item.expanded .list_expand
{
  background-image: url('collapse20.png');
}

.list_item.expanded .list_detail
{
  display: block;
}

.list_expand
{
  float: right;
  cursor: default;
  background: url('expand20.png') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 4px 0 0;
}

.list_help
{
  float: right;
  cursor: default;
  background: url('help20.png') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 4px 0 0;
}

.list_close
{
  float: right;
  visibility: visible;
  cursor: default;
  background: url('cross20.png') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  margin: 2px 4px 0 0;
}

.list_item:hover
{
  background: #79c3da;
}

.expanded .list_close
{
  visibility: visible;
}

table tr
{
  text-align: left;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}
.table_header
{
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
}

.menuframe
{
  margin: 0;
  width: 116px;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 8px 0;
  background: url(tab-unselected.png) top left no-repeat;
}
.menuframe_active
{
  margin: 0;
  width: 116px;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 8px 0;
  background: url(tab-selected.png) top left no-repeat;
}

.packagetitle
{
  float: left;
  font-weight: bold;
  font-size: 13.3px;
  margin: 2px 0 0 1px;
}
.packageversion
{
  font-size: 11px;
  font-weight: normal;
  color: #808080;
}
#keyboards
{
  overflow-x: hidden;
  overflow-y: auto;
}
#keyboards_none, #keyboards_light
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 13.3px;
  margin: 0 12px;
  border: solid 1px gray;
  padding: 8px;
}
#keyboards_none img, #keyboards_light img
{
  float: left;
  margin: 0 8px 0 0;
}
#keyboards_light
{
  margin: 12px;
}
#keyboards_control
{
  padding: 2px 4px;
}

#keyboards .item {
  left: 0;
  top: 0;
  width: 99%;
  padding: 4px 0 2px 0;
  clear: left;
}

#keyboards .item .list_icon {
  float: left;
  margin: 2px 6px 4px 1px;
}

/* no keyboards installed box */

.info#keyboards {
  position: absolute;
  top: 25%;
}

.info#keyboards > div {
  position: relative;
  left: 0;
  top: 0;
  font-size: 13.3px;
  margin: 0 12px;
  border: solid 1px gray;
  padding: 8px;
  background: #F5F6BE
}

.info#keyboards > div > img {
  float: left;
  margin: 0 8px 0 0;
}

/* Keyboard Styles */
.keyboard_header
{
  font-size: 14.7px;
}
.keyboard_hotkey
{
  color: #888;
  font-size: 11px;
}
.keyboard_options
{
  float: left;
  font-size: 13.3px;
  margin: 5px 0 0 14px;
}
.keyboard_options a
{
  text-decoration: none;
}
.keyboard_options a:hover
{
  text-decoration: underline;
}
.keyboard_options_link
{
  margin: 6px 0;
}

.keyboard_table
{
  float: right;
  margin: 8px 12px 0 16px;
}
.keyboard_table td, .keyboard_table th
{
  vertical-align: top;
}
.input_radio
{
  vertical-align: middle;
}
.label_enable
{
  font-size: 13.3px;
  padding: 2px 3px;
  vertical-align: middle;
  color: black;
}
.label_disable
{
  font-size: 13.3px;
  padding: 2px 3px;
  vertical-align: middle;
  color: #888;
}

.keyboard-hotkey
{
  margin-left: 5px;
  color: gray;
  display: inline;
  font-size: 11px;
  cursor: pointer;
}
.keyboard-hotkey:hover
{
  text-decoration: underline;
}

.list-languages
{
  white-space: nowrap;
  min-width: 120px;
}
.list-languages-title
{
  font-weight: bold;
  margin: 2px 0 4px 4px;
}

/* keyboard languages */

.keyboard-language
{
  padding: 2px;
}

.keyboard-language span
{
  display: inline-block;
  vertical-align: middle;
}

.keyboard-language a
{
  float: right;
  visibility: hidden;
}

.keyboard-language a img
{
  border: none;
  vertical-align: middle;
}

.keyboard-language:hover
{
  background: #79C3DA;
}
.keyboard-language:hover a
{
  position: relative;
  z-index: 10;
  visibility: visible;
}

.list-languages-add
{
  margin: 4px 6px;
}

.language-icon
{
  text-transform: uppercase;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin: 0 4px;
  background: #cccccc;
  padding: 1px 0 0 0;
  text-align: center;
  vertical-align: middle;
}

/* option styles */

.optiontitle
{
  font-size: 16px;
}
#options
{
  left: 0;
  top: 0;
  xpadding: 6px 4px 4px 4px;
}
.options_list
{
}
.options_list a
{
  text-decoration: none;
}
.options_list a:hover
{
  text-decoration: underline;
}

.options_list_footer
{
}

.options_list_header
{
 background: #e0e5ef;
  font-size: 13.3px;
  font-weight: bold;
  color: #001020;
  padding: 4px 8px;
}

.options_list_help
{
  display: none;
}
#options_control
{
  left: 0;
  bottom: 0;
  padding: 4px 8px 6px;
  overflow: hidden;
}

#options_base_keyboard_current {
  display: inline-block;
  padding-top: 5px;
}

/* Hotkey Styles */

#subcontent_hotkeys .list_item
{
  margin: 4px !important;
  padding: 4px 2px;
}

#hotkeys
{
  left: 0;
  top: 0;
  font-size: 13.3px;
  padding: 6px 4px 4px 4px;
  border-bottom: 2px solid white;
}

.hotkey_title
{
  background: #e0e5ef;
  font-size: 13.3px;
  font-weight: bold;
  color: #001020;
  padding: 4px 8px;
}

/* Addin Styles */
#addins
{
  left: 0;
  top: 0;
  padding: 6px 4px 4px 4px;
}
#addins .list_item
{
  clear: both;
}
#addins .listitem_title
{
  padding: 2px;
}
#addins .addin_disabled
{
  color: #777;
}
#addins_control
{
  left: 0;
  bottom: 0;
  padding: 4px 4px 6px 4px;
  overflow: hidden;
  width: 100%;
}
.addin_menu
{
  padding: 8px;
}
.addin_menu img
{
  vertical-align: middle;
}
.addin_menu
{
  font-size: 13.3px;
  margin: 5px 0 0 14px;
}
.addin_menu a
{
  text-decoration: none;
}
.addin_menu a:hover
{
  text-decoration: underline;
}
.addin_menu
{
  margin: 6px 0;
}
.addin_menu div
{
  margin: 6px 0;
}


/* Support Styles */

th
{
  padding: 0 10 0 0;
}

#support_content
{
  padding: 5px 10px 5px 10px;
}

.support_title
{
  background: url('keyman-title.png') 96px 13px no-repeat;
  height: 90px;
}
.support_title img
{
  margin: 13px 0 0 10px;
}

.support_links {
  right: 0;
  top: 41px;
  width: 140px;
  height: 100%;
  padding: 12px;
  background: #cccccc;
  position: absolute;
}

.support_links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.support_links li {
  margin: 8px 0;
}

.support_links li a {
  color: #444444;
}

.support_firstvoices {
  background: white url('fpcc-200x51.png') no-repeat top left;
  position: absolute;
  left: 80px;
  width: 200px;
  height: 51px;
  top: 285px;
}

.support_sil {
  background: white url('sil-logo-blue.png') no-repeat top left;
  font-size: 12px;
  color: #444;
  position: absolute;
  bottom: 32px;
  left: 73px;
  height: 64px;
  padding-top: 32px;
  padding-left: 110px;
  box-sizing: border-box;
}

.support_copyright
{
  font-size: 11px;
  color: #888;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.support_contact_upgrade_message {
  border: solid 1px #cccccc;
  background: #f0f0f0;
  margin: 32px 0;
  padding: 12px 0 12px 12px;
  font-weight: bold;
}

.support_contact_upgrade_message input {
  float: right;
  margin: 6px 0px 0 10px;
  font-size: 12pt !important;
  font-weight: bold;
  height: 32px !important;
  background: #0AB8A0;
  color: white;
}

.support_contact_upgrade_message br {
  clear: right;
}

.support_contact {
  margin: 64px 180px 0 64px;
  clear: both;
}

.support_contact textarea {
  width: 100%;
  height: 100px;
  margin: 0 0 12px 0;
}

.support_edition
{
  float: left;
  font-size: 16px;
  margin-left: 64px;
}
.support_line_header
{
  clear: left;
  float: left;
  font-size: 11px;
  font-weight: bold;
  color: #333;
}
.support_line_content
{
  float: left;
  margin-left: 20px;
  font-size: 11px;
  color: black;
}
.support_line_content .beta
{
  color: #fd4a28;
  margin-left: 5px;
  font-weight: bold;
}

.support_registration_status
{
  clear: left;
  width: 250px;
  margin: 10px 0 0 0;
}
.support_content_header
{
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}
.support_unregistered
{
  font-size: 11px;
  clear: left;
  text-align: justify;
  color: #333;
}

.support_links a
{
  text-decoration: none;
}
.support_links a:visited
{
  color: blue;
}
.support_links a:hover
{
  text-decoration: underline;
}

.clear
{
  clear: both;
  height: 1px;
}

/* Pro styles */

/* Support Styles */

#pro_content {
  padding: 5px 20px 5px 20px;
}

.pro_title {
  background: url('keyman-title.png') 96px 13px no-repeat;
  height: 80px;
}

.pro_title img {
  margin: 13px 0 0 10px;
}

.pro_tick {
  display: inline-block;
  width: 19px;
  height: 17px;
  background: red url('smallgreentick.png') 0 0 no-repeat;
}

#pro_upgrade_button_top {
  float: right;
  margin: 32px 10px 20px;
}

#pro_upgrade_button_top input,
#pro_upgrade_button_bottom input {
  font-size: 14pt !important;
  font-weight: bold;
  height: 32px !important;
  background: #0AB8A0;
  color: white;
}

#pro_upgrade_button_bottom {
  margin: 24px 10px;
  float: left;
}

#pro_content p {
  font-size: 14pt;
  color: #444444;
  font-weight: bold;
}

#pro_features {
  clear: both;
  border-collapse: collapse;
  width: 100%;
}

#pro_features th, #pro_features td {
  border: solid 1px #cccccc;
  font-size: 11pt;
  padding: 4px 8px;
}

#pro_features th {
  background: #cccccc;
}

#pro_features th#pro_col_feature {
  text-align: left;
}

#pro_features th#pro_col_free, #pro_features th#pro_col_pro {
  width: 64px;
}

#pro_features td {
  text-align: center;
}

#pro_features td.pro_feature {
  text-align: left;
}

.keyboard_unloaded .keyboard-language-title {
  display: none;
}

.keyboard-language-title {
  color: #444444;
  float:right;
  padding-top: 5px;
  margin-right: 8px;
  text-decoration: none;
}

.keyboard-language-title .language-icon {
  padding-top: 0px;
  margin-top: -2px;
  margin-left: 8px;
  visibility: visible;
}

.keyboard-language-title .language-name {
  margin-right: 4px;
  color: #444444;
}

.keyboard-language-title .language-name a {
  visibility: hidden;
  color: #444444;
  padding-left: 8px;
}

.keyboard-language-title:hover,
.keyboard-language-title:active {
  text-decoration: underline;
  cursor: pointer;
}

.keyboard-language-title:hover .language-icon,
.keyboard-language-title:active .language-icon,
.keyboard-language-title:hover .language-name a,
.keyboard-language-title:active .language-name a {
  visibility: visible;
}

.keyboard-list-title {
  background: #e0e5ef;
  font-size: 13.3px;
  font-weight: bold;
  color: #001020;
  padding: 4px 0px;
  height: 16px;
}

#keepintouch_content {
  height: 100%;
  overflow: hidden;
}

#keepintouch_frame {
  box-sizing: border-box;
  width:100%;
  height:100%;
  border:none;
}
