.bounds-color {
  background-color: black;
}

.receiver-color {
  background-color: beige;
}

.roaming-color {
  background-color: lightblue;
}

.shim-color {
  background-color: whitesmoke;
}

#demo-container {
  max-width: fit-content;
  max-height: fit-content;
}

#demo-container.screen4.bounds1.full {
  padding: 20px 0px 0px 0px;
}

#demo-container.screen4.bounds2.full {
  padding: 30px 10px 0px 10px;
}

#demo-container.bounds4.full {
  padding: 0px 0px 45px 0px;
}

#demo-container.screen3.bounds4.full {
  padding: 0px;
}

#demo-container.screen4.bounds4.full {
  padding: 25px 0px 45px 0px;
}

.faux-screen {
  margin: auto;
  max-width: fit-content;
  max-height: fit-content;
  background-color: black;
  border: 4px solid black;
  position: relative;
}

.faux-screen-border {
  border: 4px solid black;
  position: absolute;
  margin: -4px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#faux-page {
  margin: auto;
  background-color: white;
  max-width: fit-content;
  max-height: fit-content;
  overflow: visible;
  position: relative;
  z-index: 2
}

.screen1 #faux-page {
  padding: 100px 2px 4px 20px;
}

.screen2 #faux-page {
  padding: 180px 0px 0px 0px;
}

.screen3 #faux-page {
  padding: 120px 20px 40px 20px;
}

.screen4 #faux-page {
  padding: 0px;
}

.receiver-host {
  margin: auto;
  width:  240px;
  height: 180px;
  position: relative;
  z-index: initial; /* resets z-index stacking, allowing the child "roaming-bounds" to be placed behind it */
}

.main-receiver { /* is the full ".full" definition */
  width:  100%;
  height: 100%;
  background-color: beige;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.popup .main-receiver {
  width: 160px;
  height: 45px;
  right: 0px;
  bottom: 90px;
  top: unset;
}

#simmed-shim {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: whitesmoke;
  ;
}

#roaming-bounds {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: lightblue;
}

.bounds1 #roaming-bounds {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% + 25px);
}

.bounds2 #roaming-bounds {
  bottom: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
}

.bounds3 #roaming-bounds {
  width:  0%;
  height: 0%;
}

.bounds4 #roaming-bounds {
  bottom: -45px;
  left: -25px;
  width: calc(100% + 50px);
  height: calc(100% + 70px);
}