// this following needs to be defined for windows.h to compile otherwise missing sal.h error?
// windows.h is needed for DS_SETFONT, etc
#define SPECSTRINGS_H
#include <windows.h>
#include "resource.h"

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1                       ICON                    "..\\..\\..\\common\\resources\\icons\\setup.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

20                      BITMAP                  "kbd.bmp"
21                      BITMAP                  "logo.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

frmDownloadProgress DIALOGEX 0, 0, 234, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Downloading Files"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Cancel",IDCANCEL,93,95,50,14
    CONTROL         "",IDC_PROGRESS1,"msctls_progress32",WS_BORDER,19,50,196,14
    CTEXT           "",IDC_STATUS,19,68,196,8
END

frmRun DIALOGEX 0, 0, 323, 187
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_APPWINDOW
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,141,85,145,23
    PUSHBUTTON      "",IDCANCEL,267,164,49,15
    CONTROL         "",IDC_IMAGE,"Static",SS_BLACKFRAME | NOT WS_VISIBLE,8,7,93,154
    CONTROL         "",IDC_LOGO,"Static",SS_BLACKFRAME | NOT WS_VISIBLE,109,130,64,31
    LTEXT           "",IDC_LOGOMESSAGE,175,152,206,10,0,WS_EX_TRANSPARENT
    CONTROL         "",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,167,198,10,WS_EX_TRANSPARENT
    LTEXT           "",IDC_TITLE,109,5,201,33,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_MESSAGE,109,42,206,22,0,WS_EX_TRANSPARENT
    CONTROL         "",IDC_PROGRESS1,"msctls_progress32",WS_BORDER,141,110,145,9
    CTEXT           "",IDC_STATUS,109,120,206,8,0,WS_EX_TRANSPARENT
END

