<?xml version="1.0" encoding="UTF-8"?>

<!--
First-time install dialog sequence:      Maintenance dialog sequence:
 - WixUI_WelcomeEulaDlg                 - WixUI_MaintenanceWelcomeDlg
                                          - WixUI_MaintenanceTypeDlg
                                            - WixUI_CustomizeDlg
                                            - WixUI_VerifyReadyDlg
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
    <UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="ExitDialog" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MaintenanceTypeDlg" />
      <DialogRef Id="MaintenanceWelcomeDlg" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="WelcomeEulaDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />

      <Property Id="WixUI_VerifyReadyDlg_BackCustom" Value="CustomizeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackChange" Value="CustomizeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackRepair" Value="MaintenanceTypeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackRemove" Value="MaintenanceTypeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackTypical" Value="SetupTypeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackFeatureTree" Value="CustomizeDlg" />
      <Property Id="WixUI_VerifyReadyDlg_BackComplete" Value="CustomizeDlg" />

      <Property Id="WixUI_MaintenanceWelcomeDlg_Next" Value="MaintenanceTypeDlg" />

      <Property Id="WixUI_MaintenanceTypeDlg_Back" Value="MaintenanceWelcomeDlg" />
      <Property Id="WixUI_MaintenanceTypeDlg_Change" Value="CustomizeDlg" />
      <Property Id="WixUI_MaintenanceTypeDlg_Repair" Value="VerifyReadyDlg" />
      <Property Id="WixUI_MaintenanceTypeDlg_Remove" Value="VerifyReadyDlg" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
