#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input high python3-keyman-config/keymandir || true
db_go

db_get python3-keyman-config/keymandir
if [ "$RET" = "true" ]; then
	if [ -e /usr/local/share/keyman ]; then
		chmod --quiet 00777 /usr/local/share/keyman
		chmod --quiet 00777 /usr/local/share/doc/keyman
		chmod --quiet 00777 /usr/local/share/fonts/keyman
	fi
fi
