
@font-face {
  font-family: KeymanwebOsk;
  font-style:  normal;
  font-weight: normal;
  src: url('keymanweb-osk.ttf')  format('truetype');
}

body {
  font-family: Tahoma;
  font-size: 18pt;
  padding: 0;
  margin: 0;
}

.ui-dialog {
  font-size: 9pt;
}

#platform-style {
  float: left;
  font-size: 9pt;
  padding: 32px 24px;
  margin-top: 16px;
  border: 1px solid #dddddd;
}

#kbd.tablet-ipad-landscape {
  background: url('tablet-ipad-landscape.png') no-repeat white;
  background-position: 0px -390px;
  background-attachment: scroll;
  padding-top: 30px;
  padding-left: 97px;
  padding-bottom: 88px;
  padding-right: 108px;
}

#kbd.tablet-ipad-portrait {
  background: url('tablet-ipad-portrait.png') no-repeat white;
  background-position: 0px -562px;
  background-attachment: scroll;
  padding-top: 34px;
  padding-left: 99px;
  padding-bottom: 98px;
  padding-right: 200px;
}

#kbd.phone-iphone5-landscape {
  background: url('phone-iphone5-landscape.png') no-repeat white;
  background-position: 0px -186px;
  background-attachment: scroll;
  padding-left: 144px;
  padding-bottom: 40px;
  padding-top: 66px;
  padding-right: 158px;
}

#kbd.phone-iphone5-portrait {
  background: url('phone-iphone5-portrait.png') no-repeat white;
  background-position: 0px -800px;
  background-attachment: scroll;
  padding-left: 92px;
  padding-bottom: 170px;
  padding-top: 70px;
  padding-right: 108px;
}

.key-droppable
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  width: 0px;
  vertical-align: top;
}

.key-droppable.key-current {
  border: solid 1px #cccccc;
  background: #eeeeee;
}

.key-droppable-hover {
  border: solid 1px #cccccc;
  margin-left: 3px;
  width: 50px;
}

.key-dragging
{
  background: #cccccc !important;
}

.key {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 38px;
  padding-top: 8px;
  cursor: default;
  border: solid 1px #cccccc;
  border-radius: 4px;
  text-align: center;
  background: white;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  left: 0; top: 0;
}

.key .id {
  font-family: Tahoma;
  font-size: 10px;
  color: #8080f0;
  position: absolute;
  bottom: 2px;
  right: 4px;
  text-align: right;
  cursor: pointer;
}

.key .underlying {
  font-family: Tahoma;
  font-size: 10px;
  color: #666666;
  position: absolute;
  top: 2px;
  left: 4px;
  text-align: left;
}

.key.key-modifier .id {
  color: #808080;
}

.key .text {

}

.hasSubKeyArray {
  background-image: url('skflag.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.hasSubKeyArray.selected {
  background-image: url('skflags.png');
}

.key.selected {
  border-color: #4040ff !important;
  box-shadow: 0px 0px 20px rgba(100, 100, 255, 0.5);
}

.row {
  clear:left;
  line-height: 1;
  position: relative;
}

#sk {
  clear:left;
  padding: 8px;
  margin: 0px 0px 8px;
  min-height: 69px;
  background: #eeeeee;
  overflow-x: auto;
  white-space: nowrap;
  border-top: solid 1px #333333;
  position: relative;
}

#kbd {
  float: left;
  padding: 8px;
  margin: 0px 0px 8px;
  background: #eeeeee;
  overflow-x: auto;
  white-space: nowrap;
}

#sk .key
{
  height: 48px;
  padding-top: 5px;
  margin-left: 3px;
}

.key-modifier { background: #dddddd; }
.key-modifier-selected { background: #ddddff; }
.key-deadkey { color: #000080; }
.key-blank { background: #eeeeee; }
.key-spacer { background: #f8f8f8; border-color: #eeeeee; }

/* Select image font for special function keys */
.key-special-text,.key-modifier,.key-modifier-selected { font-family:KeymanwebOsk; font-size: 0.8em;}



.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  font-size: 65%
}

br.clear {
  clear: both;
}

#toolbar div {
  background: #DCDCDD;
  margin: -1px -1px -1px 0;
  padding: 8px;
  float: left;
}

#toolbar #layoutToolbar > div {
  margin: 0;
  padding: 0 8px;
  border-left: 1px solid #444444;
  line-height: 24px;
}

button, input, select {
  font: 9pt Tahoma;
  margin: 1px 2px;
}

button {
  padding: 2px 4px;
}

#toolbar, #keyToolbar, #subKeyToolbar {
  background: #DCDCDD;
  font: 9pt Tahoma;
  padding-bottom: 2px;
}

#keyToolbar, #subKeyToolbar {
  margin: -9px 0px 0;
  padding: 8px;
  clear: left;
}

#data {
  display: none;
}

/* In-line controls */

div.wedge-horz, div.wedge-vert {
  cursor: pointer;
    color: black;
    width: 0px;
    height: 0px;
    position: absolute;
    display: none;
    z-index: 100;
}

div.wedge-horz {
    border-top: 8px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #4bb94b;
}

div.wedge-vert {
    border-top: 0px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 14px solid #4bb94b;
}

div.wedge-horz:hover {
  border-left: 14px solid #00ff00;
}

div.wedge-vert:hover {
  border-bottom: 14px solid #00ff00;
}

div.wedge-horz span, div.wedge-vert span {
    position: relative;
    display: block;
    width: 14px;
    line-height: 1em;
    color: black;
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    font-size: 11px;
}

div.wedge-vert span {
    left: -7px;
    top: 2px;
}

div.wedge-horz span {
    left: -16px;
    top: -6px;
}

div#btnDelKey, div#btnDelSubKey {
    z-index: 100;
    cursor: pointer;
    display: none;
    background: #b94b4b;
    border: 1px solid #b94b4b;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 10px;
    height: 9px;
    line-height: 6px;
    position: absolute;
    text-align: center;
    width: 9px;
}

div#btnDelKey:hover, div#btnDelSubKey:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
}

input#inpKeyCap, input#inpSubKeyCap {
  font-size: 24px;
  z-index: 100;
  position: absolute;
  text-align: center;
  border: solid 1px #c0c0c0;
  display: none;
}

.key-size {
  color: white;
  font: 9pt Calibri;
  left: 100%;
  margin-left: 16px;
  margin-top: 16px;
  position: absolute;
  top: 0;
  z-index: 10;
  line-height: 1em;
}

#kbd.phone-iphone5-portrait .key-size {
  color: black;
  margin-left: 48px;
  font-size: 8pt;
}

#kbd.phone-iphone5-landscape .key-size {
  font-size: 8pt;
  margin-left: 16px;
  margin-top: 8px;
  background: rgba(0,0,0,0.5);
  border-radius: 2px;
}

#kbd.tablet-ipad-portrait .key-size {
  color: black;
  margin-left: 90px;
}
