# linux
autom4te.cache
*.orig
Makefile.in
configure
aclocal.m4
config.guess
config.sub
config.h.in
config.h.in~
config.rpath
compile
depcomp
install-sh
ltmain.sh
missing
test-driver
ylwrap
INSTALL
ABOUT-NLS
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
libtool.m4
__pycache__
*.egg-info
build-*
deb-*
builddebs
keyman-config/make_deb
tmp/
dist/
*~
# keyboardprocessor build artifacts (Keyman Core desktop)
keyboardprocessor/
# IDE config files
**/.idea/
ibus-k*/m4/codeset.m4
ibus-k*/m4/glibc2.m4
ibus-k*/m4/glibc21.m4
ibus-k*/m4/intdiv0.m4
ibus-k*/m4/intl.m4
ibus-k*/m4/intldir.m4
ibus-k*/m4/intmax.m4
ibus-k*/m4/inttypes-pri.m4
ibus-k*/m4/inttypes_h.m4
ibus-k*/m4/lcmessage.m4
ibus-k*/m4/lock.m4
ibus-k*/m4/longdouble.m4
ibus-k*/m4/longlong.m4
ibus-k*/m4/printf-posix.m4
ibus-k*/m4/size_max.m4
ibus-k*/m4/stdint_h.m4
ibus-k*/m4/uintmax_t.m4
ibus-k*/m4/ulonglong.m4
ibus-k*/m4/visibility.m4
ibus-k*/m4/wchar_t.m4
ibus-k*/m4/wint_t.m4
ibus-k*/m4/xsize.m4
ibus-k*/m4/extern-inline.m4
ibus-k*/m4/fcntl-o.m4
ibus-k*/m4/gettext.m4
ibus-k*/m4/iconv.m4
ibus-k*/m4/intlmacosx.m4
ibus-k*/m4/lib-ld.m4
ibus-k*/m4/lib-link.m4
ibus-k*/m4/lib-prefix.m4
ibus-k*/m4/nls.m4
ibus-k*/m4/po.m4
ibus-k*/m4/progtest.m4
ibus-k*/m4/threadlib.m4
ibus-k*/po/Makefile.in.in
ibus-k*/po/Makevars.template
ibus-k*/po/Rules-quot
upload/
launchpad
launchpad-*
keyman-config/build
keyman-config/debian/man
keyman-config/experiments/*.txt
keyman-config/keyman_config/version.py
keyman-config/locale/*/LC_MESSAGES/
*.po
test.sh
