# linux
autom4te.cache
*.orig
Makefile.in
configure
aclocal.m4
config.guess
config.sub
config.h.in
config.h.in~
config.rpath
compile
depcomp
install-sh
ltmain.sh
missing
test-driver
ylwrap
INSTALL
ABOUT-NLS
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
libtool.m4
__pycache__
*.egg-info
build-*
deb-*
builddebs
keyman-config/make_deb
tmp/
dist/
*~
ibus-kmfl/m4/codeset.m4
ibus-kmfl/m4/glibc2.m4
ibus-kmfl/m4/glibc21.m4
ibus-kmfl/m4/intdiv0.m4
ibus-kmfl/m4/intl.m4
ibus-kmfl/m4/intldir.m4
ibus-kmfl/m4/intmax.m4
ibus-kmfl/m4/inttypes-pri.m4
ibus-kmfl/m4/inttypes_h.m4
ibus-kmfl/m4/lcmessage.m4
ibus-kmfl/m4/lock.m4
ibus-kmfl/m4/longdouble.m4
ibus-kmfl/m4/longlong.m4
ibus-kmfl/m4/printf-posix.m4
ibus-kmfl/m4/size_max.m4
ibus-kmfl/m4/stdint_h.m4
ibus-kmfl/m4/uintmax_t.m4
ibus-kmfl/m4/ulonglong.m4
ibus-kmfl/m4/visibility.m4
ibus-kmfl/m4/wchar_t.m4
ibus-kmfl/m4/wint_t.m4
ibus-kmfl/m4/xsize.m4
keyman-config/build
keyman-config/debian/man
keyman-config/experiments/*.txt
test.sh
