# linux
*.o
*.orig
config.h
ltmain.sh
__pycache__
*.egg-info
build-*
./deb-*
builddebs
keyman-config/make_deb
tmp/
dist/
*~
# IDE config files
**/.idea/
upload/
launchpad
launchpad-*
build/
keyman-config/debian/man
keyman-config/experiments/*.txt
keyman-config/keyman_config/version.py
keyman-config/locale/*/LC_MESSAGES/
test.sh
debianpackage/
*.deb
*.ddeb
*.buildinfo
*.changes
*.tar.xz
*.tar.gz
*.dsc
docs/help/reference/

# Cached/auto-compiled Python bytecode
*.pyc

# Debian watch file - we generate it from watch.in
watch
# Debian quilt metadata
.pc/
# Debian patch files will be re-generated
debian/patches/
