af.xml
am.xml
ar.xml
az.xml
bg.xml
bn.xml
bs.xml
ca.xml
cs.xml
cy.xml
da.xml
de.xml
el.xml
en.xml
eo.xml
es.xml
et.xml
eu.xml
fa.xml
fi.xml
fr.xml
ga.xml
gl.xml
gu.xml
he.xml
hi.xml
hr.xml
hu.xml
id.xml
it.xml
ja.xml
kn.xml
ko.xml
la.xml
lt.xml
lv.xml
mn.xml
nl.xml
nn.xml
nb.xml
or.xml
pa.xml
pl.xml
pt.xml
pt_br.xml
ro.xml
ru.xml
sk.xml
sl.xml
sq.xml
sr.xml
sr_Latn.xml
sv.xml
ta.xml
th.xml
tl.xml
tr.xml
uk.xml
vi.xml
xh.xml
zh_cn.xml
zh_tw.xml
pi.xml
common.xml
refentry.xml
utility.xml
charmap.xml
