WhatsNew
LatestTag
RELEASE-NOTES-*.xml
RELEASE-NOTES.html
RELEASE-NOTES.txt
RELEASE-NOTES-PARTIAL.txt
RELEASE-NOTES.pdf
RELEASE-NOTES.fo
ChangeLog.xml
.svninfo.xml
ChangeHistory.xml.zip
NEWS.html
NEWS.xml
NEWS
TERMS.xml
.CatalogManager.properties.example
.urilist
.make-catalog.xsl
.cshrc.incl
.emacs.el
.profile.incl
install.sh
uninstall.sh
test.sh
catalog.xml
extensions
