
KEYCAPSMOOTH BITMAP DISCARDABLE "..\\..\\..\\..\\common\\resources\\bitmaps\\keycap.bmp"

1 ICON DISCARDABLE "..\\branding\\appicon.ico"
2 ICON DISCARDABLE "..\\branding\\cfgicon.ico"
3 ICON DISCARDABLE "..\\..\\..\\..\\common\\resources\\icons\\filetypes\\kmx.ico"
4 ICON DISCARDABLE "..\\..\\..\\..\\common\\resources\\icons\\filetypes\\kmp.ico"
7 ICON DISCARDABLE "..\\..\\..\\..\\common\\resources\\icons\\filetypes\\kvk.ico"
