# Build products
src/environment.inc.ts

# Legacy build folders.
output/
build/
embedded/

# Current build output folder (matches standard node publish location).
dist/

# Other local files.
node_modules/
source/environment.inc.ts
**/.idea/**/*.xml
**/*.iml
**/*.kpj.user