
/***********************
	Wrapper CSS
***********************/

#android-tab-header{
	width: 100%;
	background: #f2f2f2;
}

#android-mobile-header, #android-tablet-header{
	width: 50%;
	float: left;
	text-align: center;
	background: #e4e4e4;
	padding: 10px 0px;
	cursor: pointer;
}

.tab{
	display: none;
}

#android-mobile-header.selected-tab, #android-tablet-header.selected-tab, .tab.selected-tab{
	display: block;
	background: #f2f2f2;
}

#android-mobile-header h4, #android-tablet-header h4{
	font-size: 14pt;
	font-weight: bold;
}

h2{
	font-size: 22pt;
	font-weight: 400;
	margin: 30px 20px 15px 20px;
	text-align: center;
	color: #BA2034;
}

/*
	Setting display: block; to ~!important will break CSS rules for phone vs tablet.
 */
p img{
	margin-top: 10px !important;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 10px !important;
}

table{
	width: 100%;
	margin-bottom: 50px;
}


td{
	text-align: left;
	vertical-align: middle;
	padding: 10px;
}

td:first-child{
	width: 15%;
}

td:last-child{
	width: 85%;
}

th{
	font-weight: bold;
	font-size: 14pt;
	padding: 15px 0px 5px 0px;
}

.command{
	font-weight: bold;
	color: #69B7D3;
}

#toolbar{
	padding-top: 40px;
}

/***********************
	Images CSS
***********************/

#section2 img{
	min-width: 40px;
}

/**
	Removes existing max-width property settings from images in tables.
	They overly shrink the images on the main Android symbol glossary.
 */
#section2 td img {
	max-width: unset;
}