.phone-form .tablet {
    display: none;
}

.tablet-form .phone {
    display: none;
}

#section2 a.phone, #section2 a.tablet {
    color: #000000;
}

.tablet-form a.phone {
    display: block;
}

.phone-form a.tablet {
    display: block;
}

.phone-form #android-mobile-header {
    background: #f2f2f2;
}

.tablet-form #android-tablet-header {
    background: #f2f2f2;
}

