#
# Automatically merges pull requests opened by keyman-server
# The initial use of this action is to increment the patch
# version of Keyman with resources/build/increment-version.sh.
# That script creates a PR and then this workflow will be
# triggered to approve the PR (from github-actions account), and
# then automerge it.
#
name: Auto Merge PRs from keyman-server
on:
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'keymanapp/keyman' && github.actor == 'keyman-server' && startsWith(github.event.pull_request.title, 'auto:') }}
    steps:
    - name: auto approve PR from keyman-server
      shell: bash
      env:
        GH_TOKEN: "${{ github.token }}"
      run: |
        gh pr review --approve ${{ github.event.pull_request.number }}
    - name: mark PR for auto-merge from keyman-server
      shell: bash
      if: contains(github.event.pull_request.labels.*.name, 'automerge')
      env:
        GH_TOKEN: "${{ secrets.AUTOINC_GITHUB_TOKEN }}"
      run: |
        gh pr merge --auto ${{ github.event.pull_request.number }}
