name: "Pull Request Labeler"
on:
- pull_request

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - name: Update labels based on changed files
      uses: actions/labeler@4b52aec09ba832eb9aecccddbccce644ba9ba69d
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
    - name: Update labels based on PR title
      id: labeler
      uses: fuxingloh/multi-labeler@8afa186ed03230c98fe24ebf9fe35093072ad46e
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        config-path: .github/multi-labeler.yml
